@tailwind utilities;
@tailwind components;

@layer components {
  :host {
    @apply switch-props flex flex-wrap content-center;
  }

  slot[name=left]::slotted(*) {
    margin-right: 0.25rem;
  }

  slot[name=right]::slotted(*) {
    margin-left: 0.25rem;
  }

  slot[name=left]::slotted(*),
  slot[name=right]::slotted(*) {
    font-size: var(--swicth-label-font-size);
  }

  slot[name=prepend]::slotted(*) {
    color: var(--switch-button-off-background);
  }

  slot[name=append]::slotted(*) {
    color: var(--switch-button-on-background);
  }

  slot[name=prepend]::slotted(*),
  slot[name=append]::slotted(*) {
    z-index: 1;
    display: inline-flex;
  }

  label {
    width: var(--switch-width);
    height: var(--switch-height);
    padding: var(--switch-padding-y) var(--switch-padding-x);
    @apply flex-wrap flex justify-between cursor-pointer outline-none border-none relative;
  }

  input:checked+.ui-switch-slider:before {
    transform: var(--switch-button-transform);
    background: var(--switch-button-on-background);
  }

  input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
    @apply absolute translate-x-[1000px] outline-none;
  }

  .ui-switch-slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: var(--switch-bar-background);
    transition: var(--switch-transition);
    border-radius: var(--switch-bar-radius);

    &::before {
      position: absolute;
      content: "";
      height: var(--switch-button-height);
      width: var(--switch-button-width);
      border-radius: var(--switch-button-radius);
      left: var(--switch-button-left);
      bottom: var(--switch-button-bottom);
      z-index: 2;
      background-color: var(--switch-button-off-background);
      transition: var(--switch-transition);
    }
  }
}
