:where(html) {
  --bronze-1: hsl(15, 30.0%, 99.1%);
  --bronze-2: hsl(17, 63.6%, 97.8%);
  --bronze-3: hsl(17, 42.1%, 95.2%);
  --bronze-4: hsl(17, 35.2%, 92.1%);
  --bronze-5: hsl(17, 31.5%, 88.2%);
  --bronze-6: hsl(17, 29.0%, 83.0%);
  --bronze-7: hsl(17, 26.9%, 75.6%);
  --bronze-8: hsl(17, 25.1%, 66.5%);
  --bronze-9: hsl(17, 20.0%, 54.0%);
  --bronze-10: hsl(17, 17.9%, 49.3%);
  --bronze-11: hsl(15, 20.0%, 41.0%);
  --bronze-12: hsl(12, 22.0%, 21.5%);
}

:where(html):is(.dark) {
  --bronze-12: hsl(17, 10.0%, 8.8%);
  --bronze-11: hsl(15, 7.7%, 10.2%);
  --bronze-10: hsl(15, 10.2%, 13.9%);
  --bronze-9: hsl(16, 11.5%, 16.8%);
  --bronze-8: hsl(16, 12.4%, 19.7%);
  --bronze-7: hsl(16, 13.4%, 24.1%);
  --bronze-6: hsl(17, 14.7%, 31.9%);
  --bronze-5: hsl(18, 16.0%, 47.6%);
  --bronze-4: hsl(17, 20.0%, 54.0%);
  --bronze-3: hsl(18, 23.6%, 60.8%);
  --bronze-2: hsl(18, 35.0%, 74.0%);
  --bronze-1: hsl(22, 35.0%, 89.0%);
}
