:where(html) {
  --brown-1: hsl(30, 40.0%, 99.1%);
  --brown-2: hsl(30, 50.0%, 97.6%);
  --brown-3: hsl(30, 52.5%, 94.6%);
  --brown-4: hsl(30, 53.0%, 91.2%);
  --brown-5: hsl(29, 52.9%, 86.8%);
  --brown-6: hsl(29, 52.5%, 80.9%);
  --brown-7: hsl(29, 51.5%, 72.8%);
  --brown-8: hsl(28, 50.0%, 63.1%);
  --brown-9: hsl(28, 34.0%, 51.0%);
  --brown-10: hsl(26, 31.7%, 46.9%);
  --brown-11: hsl(25, 30.0%, 39.0%);
  --brown-12: hsl(20, 15.0%, 21.0%);
}

:where(html):is(.dark) {
  --brown-12: hsl(22, 15.0%, 8.7%);
  --brown-11: hsl(26, 13.2%, 10.4%);
  --brown-10: hsl(26, 17.4%, 13.6%);
  --brown-9: hsl(26, 19.6%, 16.2%);
  --brown-8: hsl(27, 21.3%, 19.0%);
  --brown-7: hsl(27, 23.2%, 23.0%);
  --brown-6: hsl(27, 25.4%, 30.4%);
  --brown-5: hsl(28, 27.8%, 45.1%);
  --brown-4: hsl(28, 34.0%, 51.0%);
  --brown-3: hsl(28, 38.0%, 58.3%);
  --brown-2: hsl(28, 50.0%, 72.0%);
  --brown-1: hsl(35, 60.0%, 87.0%);
}
