:where(html) {
  --gold-1: hsl(50, 20.0%, 99.1%);
  --gold-2: hsl(47, 52.9%, 96.7%);
  --gold-3: hsl(46, 38.2%, 93.7%);
  --gold-4: hsl(44, 32.7%, 90.1%);
  --gold-5: hsl(43, 29.9%, 85.7%);
  --gold-6: hsl(41, 28.3%, 79.8%);
  --gold-7: hsl(39, 27.6%, 71.9%);
  --gold-8: hsl(36, 27.2%, 61.8%);
  --gold-9: hsl(36, 20.0%, 49.5%);
  --gold-10: hsl(36, 19.9%, 44.9%);
  --gold-11: hsl(36, 20.0%, 37.0%);
  --gold-12: hsl(36, 16.0%, 20.0%);
}

:where(html):is(.dark) {
  --gold-12: hsl(44, 9.0%, 8.3%);
  --gold-11: hsl(45, 8.0%, 9.8%);
  --gold-10: hsl(44, 9.5%, 13.0%);
  --gold-9: hsl(43, 10.5%, 15.6%);
  --gold-8: hsl(42, 11.2%, 18.5%);
  --gold-7: hsl(41, 12.1%, 22.6%);
  --gold-6: hsl(39, 13.2%, 29.8%);
  --gold-5: hsl(35, 14.8%, 45.1%);
  --gold-4: hsl(36, 20.0%, 49.5%);
  --gold-3: hsl(36, 21.9%, 56.8%);
  --gold-2: hsl(35, 30.0%, 71.0%);
  --gold-1: hsl(35, 25.0%, 88.0%);
}
