:where(html) {
  --green-1: hsl(136, 50.0%, 98.9%);
  --green-2: hsl(138, 62.5%, 96.9%);
  --green-3: hsl(139, 55.2%, 94.5%);
  --green-4: hsl(140, 48.7%, 91.0%);
  --green-5: hsl(141, 43.7%, 86.0%);
  --green-6: hsl(143, 40.3%, 79.0%);
  --green-7: hsl(146, 38.5%, 69.0%);
  --green-8: hsl(151, 40.2%, 54.1%);
  --green-9: hsl(151, 55.0%, 41.5%);
  --green-10: hsl(152, 57.5%, 37.6%);
  --green-11: hsl(153, 67.0%, 28.5%);
  --green-12: hsl(155, 40.0%, 16.5%);
}

:where(html):is(.dark) {
  --green-12: hsl(146, 30.0%, 7.4%);
  --green-11: hsl(154, 31.8%, 8.6%);
  --green-10: hsl(154, 37.6%, 11.5%);
  --green-9: hsl(154, 41.0%, 13.6%);
  --green-8: hsl(154, 43.7%, 15.7%);
  --green-7: hsl(154, 46.7%, 18.7%);
  --green-6: hsl(153, 50.3%, 24.4%);
  --green-5: hsl(151, 52.2%, 36.1%);
  --green-4: hsl(151, 55.0%, 41.5%);
  --green-3: hsl(151, 55.2%, 46.7%);
  --green-2: hsl(151, 65.0%, 54.0%);
  --green-1: hsl(144, 70.0%, 82.0%);
}
