:where(html) {
  --lime-1: hsl(85, 50.0%, 98.7%);
  --lime-2: hsl(85, 66.7%, 96.5%);
  --lime-3: hsl(85, 76.8%, 91.7%);
  --lime-4: hsl(84, 71.6%, 86.6%);
  --lime-5: hsl(83, 62.5%, 80.8%);
  --lime-6: hsl(81, 51.6%, 73.6%);
  --lime-7: hsl(79, 41.5%, 64.4%);
  --lime-8: hsl(77, 40.2%, 52.2%);
  --lime-9: hsl(81, 80.0%, 66.0%);
  --lime-10: hsl(81, 75.0%, 60.0%);
  --lime-11: hsl(75, 40.0%, 29.0%);
  --lime-12: hsl(75, 40.0%, 18.0%);
}

:where(html):is(.dark) {
  --lime-12: hsl(75, 55.0%, 6.0%);
  --lime-11: hsl(78, 41.5%, 8.0%);
  --lime-10: hsl(81, 38.1%, 11.0%);
  --lime-9: hsl(81, 39.4%, 13.1%);
  --lime-8: hsl(81, 40.8%, 15.3%);
  --lime-7: hsl(80, 42.6%, 18.4%);
  --lime-6: hsl(78, 45.4%, 24.0%);
  --lime-5: hsl(75, 49.7%, 35.1%);
  --lime-4: hsl(81, 80.0%, 66.0%);
  --lime-3: hsl(75, 85.0%, 60.0%);
  --lime-2: hsl(70, 70.0%, 50.0%);
  --lime-1: hsl(80, 80.0%, 85.0%);
}
