:where(html) {
  --mauve-1: hsl(300, 26.0%, 99.0%);
  --mauve-2: hsl(270, 20.0%, 98.0%);
  --mauve-3: hsl(267, 13.8%, 95.3%);
  --mauve-4: hsl(265, 12.2%, 92.7%);
  --mauve-5: hsl(263, 11.6%, 90.3%);
  --mauve-6: hsl(261, 11.1%, 87.7%);
  --mauve-7: hsl(257, 10.8%, 84.3%);
  --mauve-8: hsl(249, 10.4%, 75.5%);
  --mauve-9: hsl(252, 6.0%, 57.3%);
  --mauve-10: hsl(250, 5.0%, 52.3%);
  --mauve-11: hsl(252, 5.0%, 40.7%);
  --mauve-12: hsl(260, 10.0%, 13.5%);
}

:where(html):is(.dark) {
  --mauve-12: hsl(300, 5.0%, 9.5%);
  --mauve-11: hsl(300, 7.1%, 11.0%);
  --mauve-10: hsl(290, 6.2%, 16.2%);
  --mauve-9: hsl(285, 5.8%, 19.5%);
  --mauve-8: hsl(280, 5.6%, 22.4%);
  --mauve-7: hsl(276, 5.4%, 25.7%);
  --mauve-6: hsl(269, 5.3%, 30.3%);
  --mauve-5: hsl(258, 5.0%, 39.2%);
  --mauve-4: hsl(250, 5.0%, 45.0%);
  --mauve-3: hsl(252, 4.3%, 52.3%);
  --mauve-2: hsl(250, 6.0%, 70.5%);
  --mauve-1: hsl(240, 7.0%, 93.8%);
}
