:where(html) {
  --plum-1: hsl(292, 90.0%, 99.4%);
  --plum-2: hsl(300, 100%, 98.6%);
  --plum-3: hsl(299, 71.2%, 96.4%);
  --plum-4: hsl(299, 62.0%, 93.8%);
  --plum-5: hsl(298, 56.1%, 90.5%);
  --plum-6: hsl(296, 51.3%, 85.8%);
  --plum-7: hsl(295, 48.2%, 78.9%);
  --plum-8: hsl(292, 47.7%, 70.8%);
  --plum-9: hsl(292, 45.0%, 51.0%);
  --plum-10: hsl(292, 50.2%, 46.9%);
  --plum-11: hsl(292, 60.0%, 42.5%);
  --plum-12: hsl(291, 57.0%, 23.2%);
}

:where(html):is(.dark) {
  --plum-12: hsl(301, 20.0%, 9.4%);
  --plum-11: hsl(300, 28.8%, 11.6%);
  --plum-10: hsl(299, 31.8%, 15.5%);
  --plum-9: hsl(298, 33.4%, 18.3%);
  --plum-8: hsl(297, 34.6%, 21.0%);
  --plum-7: hsl(296, 36.0%, 25.1%);
  --plum-6: hsl(295, 37.9%, 32.7%);
  --plum-5: hsl(292, 40.2%, 47.8%);
  --plum-4: hsl(292, 45.0%, 51.0%);
  --plum-3: hsl(291, 51.2%, 60.2%);
  --plum-2: hsl(290, 70.0%, 74.0%);
  --plum-1: hsl(300, 60.0%, 89.5%);
}
