:where(html) {
  --sky-1: hsl(193, 100%, 98.8%);
  --sky-2: hsl(193, 100%, 97.3%);
  --sky-3: hsl(192, 100%, 94.3%);
  --sky-4: hsl(193, 93.5%, 90.9%);
  --sky-5: hsl(193, 79.3%, 85.9%);
  --sky-6: hsl(194, 66.1%, 78.8%);
  --sky-7: hsl(194, 60.0%, 69.4%);
  --sky-8: hsl(193, 65.2%, 56.1%);
  --sky-9: hsl(193, 98.0%, 74.0%);
  --sky-10: hsl(193, 90.0%, 71.0%);
  --sky-11: hsl(200, 60.0%, 36.0%);
  --sky-12: hsl(195, 50.0%, 20.0%);
}

:where(html):is(.dark) {
  --sky-12: hsl(205, 45.0%, 8.6%);
  --sky-11: hsl(202, 49.0%, 10.0%);
  --sky-10: hsl(201, 50.8%, 13.2%);
  --sky-9: hsl(201, 52.1%, 15.8%);
  --sky-8: hsl(201, 53.3%, 18.4%);
  --sky-7: hsl(200, 54.9%, 22.2%);
  --sky-6: hsl(200, 57.2%, 29.3%);
  --sky-5: hsl(200, 60.0%, 44.1%);
  --sky-4: hsl(193, 98.0%, 74.0%);
  --sky-3: hsl(192, 100%, 77.0%);
  --sky-2: hsl(195, 100%, 66.0%);
  --sky-1: hsl(192, 100%, 88.0%);
}
