:where(html) {
  --violet-1: hsl(255, 65.0%, 99.4%);
  --violet-2: hsl(252, 100%, 99.0%);
  --violet-3: hsl(252, 96.9%, 97.4%);
  --violet-4: hsl(252, 91.5%, 95.5%);
  --violet-5: hsl(252, 85.1%, 93.0%);
  --violet-6: hsl(252, 77.8%, 89.4%);
  --violet-7: hsl(252, 71.0%, 83.7%);
  --violet-8: hsl(252, 68.6%, 76.3%);
  --violet-9: hsl(252, 56.0%, 57.5%);
  --violet-10: hsl(251, 48.1%, 53.5%);
  --violet-11: hsl(250, 43.0%, 48.0%);
  --violet-12: hsl(250, 43.0%, 26.0%);
}

:where(html):is(.dark) {
  --violet-12: hsl(250, 20.0%, 10.2%);
  --violet-11: hsl(255, 30.3%, 12.9%);
  --violet-10: hsl(254, 33.3%, 18.4%);
  --violet-9: hsl(253, 34.6%, 22.1%);
  --violet-8: hsl(253, 35.5%, 25.5%);
  --violet-7: hsl(252, 36.6%, 30.5%);
  --violet-6: hsl(251, 37.8%, 39.0%);
  --violet-5: hsl(250, 46.2%, 54.1%);
  --violet-4: hsl(252, 56.0%, 57.5%);
  --violet-3: hsl(253, 63.2%, 64.1%);
  --violet-2: hsl(255, 100%, 80.0%);
  --violet-1: hsl(250, 93.0%, 93.0%);
}
