:where(html) {
  --yellow-1: hsl(60, 54.0%, 98.5%);
  --yellow-2: hsl(52, 100%, 93.9%);
  --yellow-3: hsl(53, 100%, 88.9%);
  --yellow-4: hsl(53, 93.7%, 83.9%);
  --yellow-5: hsl(52, 84.7%, 78.7%);
  --yellow-6: hsl(51, 73.0%, 72.4%);
  --yellow-7: hsl(48, 59.6%, 64.3%);
  --yellow-8: hsl(46, 55.0%, 52.9%);
  --yellow-9: hsl(53, 96.0%, 58.0%);
  --yellow-10: hsl(52, 95.0%, 52.0%);
  --yellow-11: hsl(42, 50.0%, 31.0%);
  --yellow-12: hsl(42, 40.0%, 20.0%);
}

:where(html):is(.dark) {
  --yellow-12: hsl(45, 100%, 5.5%);
  --yellow-11: hsl(44, 78.9%, 7.5%);
  --yellow-10: hsl(44, 61.9%, 10.6%);
  --yellow-9: hsl(44, 57.5%, 13.0%);
  --yellow-8: hsl(45, 57.0%, 15.2%);
  --yellow-7: hsl(46, 57.5%, 18.3%);
  --yellow-6: hsl(47, 58.5%, 24.0%);
  --yellow-5: hsl(50, 59.8%, 35.1%);
  --yellow-4: hsl(53, 96.0%, 58.0%);
  --yellow-3: hsl(53, 96.8%, 67.5%);
  --yellow-2: hsl(55, 100%, 60.0%);
  --yellow-1: hsl(53, 100%, 84.0%);
}
