@import './utils/rules.css';
@import './utils/normalize.css';
@import './utils/general.css';

@import './themes/gray-theme.css';
@import './themes/mauve-theme.css';
@import './themes/slate-theme.css';
@import './themes/sage-theme.css';
@import './themes/olive-theme.css';
@import './themes/sand-theme.css';
@import './themes/tomato-theme.css';
@import './themes/red-theme.css';
@import './themes/crimson-theme.css';
@import './themes/pink-theme.css';
@import './themes/plum-theme.css';
@import './themes/purple-theme.css';
@import './themes/violet-theme.css';
@import './themes/indigo-theme.css';
@import './themes/blue-theme.css';
@import './themes/cyan-theme.css';
@import './themes/teal-theme.css';
@import './themes/green-theme.css';
@import './themes/grass-theme.css';
@import './themes/brown-theme.css';
@import './themes/bronze-theme.css';
@import './themes/gold-theme.css';
@import './themes/sky-theme.css';
@import './themes/mint-theme.css';
@import './themes/lime-theme.css';
@import './themes/yellow-theme.css';
@import './themes/amber-theme.css';
@import './themes/orange-theme.css';

@import './custom/gray-custom.css';
@import './custom/mauve-custom.css';
@import './custom/slate-custom.css';
@import './custom/sage-custom.css';
@import './custom/olive-custom.css';
@import './custom/sand-custom.css';
@import './custom/tomato-custom.css';
@import './custom/red-custom.css';
@import './custom/crimson-custom.css';
@import './custom/pink-custom.css';
@import './custom/plum-custom.css';
@import './custom/purple-custom.css';
@import './custom/violet-custom.css';
@import './custom/indigo-custom.css';
@import './custom/blue-custom.css';
@import './custom/cyan-custom.css';
@import './custom/teal-custom.css';
@import './custom/green-custom.css';
@import './custom/grass-custom.css';
@import './custom/brown-custom.css';
@import './custom/bronze-custom.css';
@import './custom/gold-custom.css';
@import './custom/sky-custom.css';
@import './custom/mint-custom.css';
@import './custom/lime-custom.css';
@import './custom/yellow-custom.css';
@import './custom/amber-custom.css';
@import './custom/orange-custom.css';

body {
  color: var(--low-contrast);
  background-color: var(--background);
}

.page-title {
  height: 100px;
}

.ui-container {
  padding: var(--size-3);
}

.ui-scale {
  &-container {
    display: grid;
    grid-template-columns: repeat(14, minmax(0, 1fr));
    gap: var(--size-2);
    margin-bottom: var(--size-4);
  }

  &-square {
    height: var(--size-7);
    width: var(--size-7);
    display: flex;
    padding: var(--size-2);
    align-items: center;
    justify-content: center;
  }
}


.ui-nav {
  width: 100%;
  padding: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-color: var(--ui-border);
  border-bottom-width: 1px;

  &-title {
    flex: 1;
    font-size: 1.875rem;
    font-weight: 2.25rem;
  }

  &-color {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
  }

  &-colors {
    margin-right: 0.5rem;
    display: none;
    align-items: center;
    justify-content: center;


    @media(--md-n-above) {
      display: flex;
    }

    @media(--md-n-below) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.ui-nav-button,
.ui-theme-button {
  display: flex;
  height: 2.25rem;
  width: 2.25rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background: transparent;
}

.ui-theme-button {
  color: var(--high-contrast);
  border-color: var(--ui-border);
  outline-color: var(--ui-border);

  &:hover {
    border-color: var(--ui-border-hover);
    outline-color: var(--ui-border-hover);
  }
}

.ui-nav-button-active {
  outline-style: solid;
  outline-width: 2px;
}

.ui-neutral {
  grid-template-columns: repeat(4, minmax(0, 1fr));

  div {
    height: var(--size-7);
    outline-color: var(--ui-border);
    outline-style: solid;
    outline-width: 1px;
    color: var(--low-contrast);
  }
}

.ui-light {
  background-color: var(--light);
}

.ui-dark {
  background-color: var(--dark);
}

.ui-white {
  background-color: var(--white);
}

.ui-black {
  background-color: var(--black);
}


.ui-tokens {
  grid-template-columns: repeat(8, minmax(0, 1fr));

  div {
    display: flex;
    height: var(--size-8);
    justify-content: center;
    align-items: center;
    outline-style: solid;
    outline-width: 0.1rem;
  }
}
