@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ui-nav {
    @apply w-full p-3 relative flex flex-col items-start md:flex-row md:items-center border-b-[1px];
    border-color: var(--ui-border);
  }

  .ui-nav-title {
    @apply text-3xl font-bold;
    flex: 1;
  }

  .ui-nav-colors {
    @apply mr-2 hidden items-center space-x-0.5 lg:flex;
  }

  .ui-nav-button,
  .ui-theme-button {
    @apply flex h-9 w-9 items-center justify-center rounded-full text-xs;
  }

  .ui-theme-button {
    color: var(--high-contrast);
    border-color: var(--ui-border);
  }
}
