:where(.schema-blue) {
  --background: var(--blue-1);            /* App background (-1) */
  --subtle-background: var(--blue-2);     /* Subtle background (-2) */
  --ui-background: var(--blue-3);         /* UI element background (-3) */
  --ui-hover-background: var(--blue-4);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--blue-5);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--blue-6);         /* Subtle borders and separators (-6) */
  --ui-border: var(--blue-7);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--blue-8);       /* Hovered UI element border (-8) */
  --solid-background: var(--blue-9);      /* Solid backgrounds (-9) */
  --solid-hover: var(--blue-10);          /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--blue-11);         /* Low-contrast text (-11) */
  --high-contrast: var(--blue-12);        /* High-contrast text (-12) */
  --light: var(--blue-1);                 /* Light text */
  --dark: var(--blue-12);                 /* Dark text */
}

:is(.dark) :where(.schema-blue)  {
  --background: var(--blue-12);           /* App background (-1) */
  --subtle-background: var(--blue-11);    /* Subtle background (-2) */
  --ui-background: var(--blue-10);        /* UI element background (-3) */
  --ui-hover-background: var(--blue-9);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--blue-8);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--blue-7);         /* Subtle borders and separators (-6) */
  --ui-border: var(--blue-6);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--blue-5);       /* Hovered UI element border (-8) */
  --solid-background: var(--blue-4);      /* Solid backgrounds (-9) */
  --solid-hover: var(--blue-3);           /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--blue-2);          /* Low-contrast text (-11) */
  --high-contrast: var(--blue-1);         /* High-contrast text (-12) */
}

:where(.is-blue) {
  color: var(--blue-1);
  background-color: var(--blue-9);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--blue-10);
  }
}

:is(.dark) :where(.is-blue) {
  color: var(--blue-1);
  background-color: var(--blue-4);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--blue-3);
  }
}

:where(.is-blue-color) {
  color: var(--blue-12);
}

:is(:dark) :where(.is-blue-color) {
  color: var(--blue-1);
}

:where(.is-blue-low-contrast) {
  color: var(--blue-11);
}

:is(.dark) :where(.is-blue-low-contrast) {
  color: var(--blue-2);
}

:where(.is-blue-high-contrast) {
  color: var(--blue-12);
}

:is(.dark) :where(.is-blue-high-contrast) {
  color: var(--blue-1);
}

:where(.is-blue-background) {
  background-color: var(--blue-1);
}

:is(.dark) :where(.is-blue-background) {
  background-color: var(--blue-12);
}

:where(.is-blue-subtle-background) {
  background-color: var(--blue-2);
}

:is(.dark) :where(.is-blue-subtle-background) {
  background-color: var(--blue-11);
}

:where(.is-blue-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--blue-3);

  &:hover {
    background-color: var(--blue-4);
  }
}

:is(.dark) :where(.is-blue-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--blue-10);

  &:hover {
    background-color: var(--blue-9);
  }
}

:where(.is-blue-ui-hover-background) {
  background-color: var(--blue-4);
}

:is(.dark) :where(.is-blue-ui-hover-background) {
  background-color: var(--blue-9);
}

:where(.is-blue-ui-active-background) {
  background-color: var(--blue-5);
}

:is(.dark) :where(.is-blue-ui-active-background) {
  background-color: var(--blue-8);
}

:where(.is-blue-subtle-element-background) {
  background-color: var(--blue-6);
}

:is(.dark) :where(.is-blue-subtle-element-background) {
  background-color: var(--blue-7);
}

:where(.is-blue-ui-element-background) {
  background-color: var(--blue-7);
}

:is(.dark) :where(.is-blue-ui-element-background) {
  background-color: var(--blue-6);
}

:where(.is-blue-ui-hover-background) {
  background-color: var(--blue-8);
}

:is(.dark) :where(.is-blue-ui-hover-background) {
  background-color: var(--blue-5);
}

:where(.is-blue-solid-background) {
  background-color: var(--blue-9);
}

:is(.dark) :where(.is-blue-solid-background) {
  background-color: var(--blue-4);
}

:where(.is-blue-hover-solid-background) {
  background-color: var(--blue-10);
}

:is(.dark) :where(.is-blue-hover-solid-background) {
  background-color: var(--blue-3);
}

:where(.is-blue-low-contrast-background) {
  background-color: var(--blue-11);
}

:is(.dark) :where(.is-blue-low-contrast-background) {
  background-color: var(--blue-2);
}

:where(.is-blue-high-contrast-background) {
  background-color: var(--blue-12);
}

:is(.dark) :where(.is-blue-high-contrast-background) {
  background-color: var(--blue-1);
}

:where(.is-blue-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--blue-7);
  border-color: var(--blue-7);

  &:hover {
    outline-color: var(--blue-8);
    border-color: var(--blue-8);
  }
}

:is(.dark) :where(.is-blue-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--blue-6);
  border-color: var(--blue-6);

  &:hover {
    outline-color: var(--blue-5);
    border-color: var(--blue-5);
  }
}
