:where(.schema-bronze) {
  --background: var(--bronze-1);            /* App background (-1) */
  --subtle-background: var(--bronze-2);     /* Subtle background (-2) */
  --ui-background: var(--bronze-3);         /* UI element background (-3) */
  --ui-hover-background: var(--bronze-4);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--bronze-5);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--bronze-6);         /* Subtle borders and separators (-6) */
  --ui-border: var(--bronze-7);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--bronze-8);       /* Hovered UI element border (-8) */
  --solid-background: var(--bronze-9);      /* Solid backgrounds (-9) */
  --solid-hover: var(--bronze-10);          /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--bronze-11);         /* Low-contrast text (-11) */
  --high-contrast: var(--bronze-12);        /* High-contrast text (-12) */
  --light: var(--bronze-1);                 /* Light text */
  --dark: var(--bronze-12);                 /* Dark text */
}

:is(.dark) :where(.schema-bronze)  {
  --background: var(--bronze-12);           /* App background (-1) */
  --subtle-background: var(--bronze-11);    /* Subtle background (-2) */
  --ui-background: var(--bronze-10);        /* UI element background (-3) */
  --ui-hover-background: var(--bronze-9);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--bronze-8);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--bronze-7);         /* Subtle borders and separators (-6) */
  --ui-border: var(--bronze-6);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--bronze-5);       /* Hovered UI element border (-8) */
  --solid-background: var(--bronze-4);      /* Solid backgrounds (-9) */
  --solid-hover: var(--bronze-3);           /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--bronze-2);          /* Low-contrast text (-11) */
  --high-contrast: var(--bronze-1);         /* High-contrast text (-12) */
}

:where(.is-bronze) {
  color: var(--bronze-1);
  background-color: var(--bronze-9);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--bronze-10);
  }
}

:is(.dark) :where(.is-bronze) {
  color: var(--bronze-1);
  background-color: var(--bronze-4);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--bronze-3);
  }
}

:where(.is-bronze-color) {
  color: var(--bronze-12);
}

:is(:dark) :where(.is-bronze-color) {
  color: var(--bronze-1);
}

:where(.is-bronze-low-contrast) {
  color: var(--bronze-11);
}

:is(.dark) :where(.is-bronze-low-contrast) {
  color: var(--bronze-2);
}

:where(.is-bronze-high-contrast) {
  color: var(--bronze-12);
}

:is(.dark) :where(.is-bronze-high-contrast) {
  color: var(--bronze-1);
}

:where(.is-bronze-background) {
  background-color: var(--bronze-1);
}

:is(.dark) :where(.is-bronze-background) {
  background-color: var(--bronze-12);
}

:where(.is-bronze-subtle-background) {
  background-color: var(--bronze-2);
}

:is(.dark) :where(.is-bronze-subtle-background) {
  background-color: var(--bronze-11);
}

:where(.is-bronze-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--bronze-3);

  &:hover {
    background-color: var(--bronze-4);
  }
}

:is(.dark) :where(.is-bronze-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--bronze-10);

  &:hover {
    background-color: var(--bronze-9);
  }
}

:where(.is-bronze-ui-hover-background) {
  background-color: var(--bronze-4);
}

:is(.dark) :where(.is-bronze-ui-hover-background) {
  background-color: var(--bronze-9);
}

:where(.is-bronze-ui-active-background) {
  background-color: var(--bronze-5);
}

:is(.dark) :where(.is-bronze-ui-active-background) {
  background-color: var(--bronze-8);
}

:where(.is-bronze-subtle-element-background) {
  background-color: var(--bronze-6);
}

:is(.dark) :where(.is-bronze-subtle-element-background) {
  background-color: var(--bronze-7);
}

:where(.is-bronze-ui-element-background) {
  background-color: var(--bronze-7);
}

:is(.dark) :where(.is-bronze-ui-element-background) {
  background-color: var(--bronze-6);
}

:where(.is-bronze-ui-hover-background) {
  background-color: var(--bronze-8);
}

:is(.dark) :where(.is-bronze-ui-hover-background) {
  background-color: var(--bronze-5);
}

:where(.is-bronze-solid-background) {
  background-color: var(--bronze-9);
}

:is(.dark) :where(.is-bronze-solid-background) {
  background-color: var(--bronze-4);
}

:where(.is-bronze-hover-solid-background) {
  background-color: var(--bronze-10);
}

:is(.dark) :where(.is-bronze-hover-solid-background) {
  background-color: var(--bronze-3);
}

:where(.is-bronze-low-contrast-background) {
  background-color: var(--bronze-11);
}

:is(.dark) :where(.is-bronze-low-contrast-background) {
  background-color: var(--bronze-2);
}

:where(.is-bronze-high-contrast-background) {
  background-color: var(--bronze-12);
}

:is(.dark) :where(.is-bronze-high-contrast-background) {
  background-color: var(--bronze-1);
}

:where(.is-bronze-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--bronze-7);
  border-color: var(--bronze-7);

  &:hover {
    outline-color: var(--bronze-8);
    border-color: var(--bronze-8);
  }
}

:is(.dark) :where(.is-bronze-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--bronze-6);
  border-color: var(--bronze-6);

  &:hover {
    outline-color: var(--bronze-5);
    border-color: var(--bronze-5);
  }
}
