:where(.schema-brown) {
  --background: var(--brown-1);            /* App background (-1) */
  --subtle-background: var(--brown-2);     /* Subtle background (-2) */
  --ui-background: var(--brown-3);         /* UI element background (-3) */
  --ui-hover-background: var(--brown-4);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--brown-5);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--brown-6);         /* Subtle borders and separators (-6) */
  --ui-border: var(--brown-7);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--brown-8);       /* Hovered UI element border (-8) */
  --solid-background: var(--brown-9);      /* Solid backgrounds (-9) */
  --solid-hover: var(--brown-10);          /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--brown-11);         /* Low-contrast text (-11) */
  --high-contrast: var(--brown-12);        /* High-contrast text (-12) */
  --light: var(--brown-1);                 /* Light text */
  --dark: var(--brown-12);                 /* Dark text */
}

:is(.dark) :where(.schema-brown)  {
  --background: var(--brown-12);           /* App background (-1) */
  --subtle-background: var(--brown-11);    /* Subtle background (-2) */
  --ui-background: var(--brown-10);        /* UI element background (-3) */
  --ui-hover-background: var(--brown-9);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--brown-8);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--brown-7);         /* Subtle borders and separators (-6) */
  --ui-border: var(--brown-6);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--brown-5);       /* Hovered UI element border (-8) */
  --solid-background: var(--brown-4);      /* Solid backgrounds (-9) */
  --solid-hover: var(--brown-3);           /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--brown-2);          /* Low-contrast text (-11) */
  --high-contrast: var(--brown-1);         /* High-contrast text (-12) */
}

:where(.is-brown) {
  color: var(--brown-1);
  background-color: var(--brown-9);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--brown-10);
  }
}

:is(.dark) :where(.is-brown) {
  color: var(--brown-1);
  background-color: var(--brown-4);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--brown-3);
  }
}

:where(.is-brown-color) {
  color: var(--brown-12);
}

:is(:dark) :where(.is-brown-color) {
  color: var(--brown-1);
}

:where(.is-brown-low-contrast) {
  color: var(--brown-11);
}

:is(.dark) :where(.is-brown-low-contrast) {
  color: var(--brown-2);
}

:where(.is-brown-high-contrast) {
  color: var(--brown-12);
}

:is(.dark) :where(.is-brown-high-contrast) {
  color: var(--brown-1);
}

:where(.is-brown-background) {
  background-color: var(--brown-1);
}

:is(.dark) :where(.is-brown-background) {
  background-color: var(--brown-12);
}

:where(.is-brown-subtle-background) {
  background-color: var(--brown-2);
}

:is(.dark) :where(.is-brown-subtle-background) {
  background-color: var(--brown-11);
}

:where(.is-brown-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--brown-3);

  &:hover {
    background-color: var(--brown-4);
  }
}

:is(.dark) :where(.is-brown-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--brown-10);

  &:hover {
    background-color: var(--brown-9);
  }
}

:where(.is-brown-ui-hover-background) {
  background-color: var(--brown-4);
}

:is(.dark) :where(.is-brown-ui-hover-background) {
  background-color: var(--brown-9);
}

:where(.is-brown-ui-active-background) {
  background-color: var(--brown-5);
}

:is(.dark) :where(.is-brown-ui-active-background) {
  background-color: var(--brown-8);
}

:where(.is-brown-subtle-element-background) {
  background-color: var(--brown-6);
}

:is(.dark) :where(.is-brown-subtle-element-background) {
  background-color: var(--brown-7);
}

:where(.is-brown-ui-element-background) {
  background-color: var(--brown-7);
}

:is(.dark) :where(.is-brown-ui-element-background) {
  background-color: var(--brown-6);
}

:where(.is-brown-ui-hover-background) {
  background-color: var(--brown-8);
}

:is(.dark) :where(.is-brown-ui-hover-background) {
  background-color: var(--brown-5);
}

:where(.is-brown-solid-background) {
  background-color: var(--brown-9);
}

:is(.dark) :where(.is-brown-solid-background) {
  background-color: var(--brown-4);
}

:where(.is-brown-hover-solid-background) {
  background-color: var(--brown-10);
}

:is(.dark) :where(.is-brown-hover-solid-background) {
  background-color: var(--brown-3);
}

:where(.is-brown-low-contrast-background) {
  background-color: var(--brown-11);
}

:is(.dark) :where(.is-brown-low-contrast-background) {
  background-color: var(--brown-2);
}

:where(.is-brown-high-contrast-background) {
  background-color: var(--brown-12);
}

:is(.dark) :where(.is-brown-high-contrast-background) {
  background-color: var(--brown-1);
}

:where(.is-brown-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--brown-7);
  border-color: var(--brown-7);

  &:hover {
    outline-color: var(--brown-8);
    border-color: var(--brown-8);
  }
}

:is(.dark) :where(.is-brown-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--brown-6);
  border-color: var(--brown-6);

  &:hover {
    outline-color: var(--brown-5);
    border-color: var(--brown-5);
  }
}
