:where(.schema-cyan) {
  --background: var(--cyan-1);            /* App background (-1) */
  --subtle-background: var(--cyan-2);     /* Subtle background (-2) */
  --ui-background: var(--cyan-3);         /* UI element background (-3) */
  --ui-hover-background: var(--cyan-4);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--cyan-5);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--cyan-6);         /* Subtle borders and separators (-6) */
  --ui-border: var(--cyan-7);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--cyan-8);       /* Hovered UI element border (-8) */
  --solid-background: var(--cyan-9);      /* Solid backgrounds (-9) */
  --solid-hover: var(--cyan-10);          /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--cyan-11);         /* Low-contrast text (-11) */
  --high-contrast: var(--cyan-12);        /* High-contrast text (-12) */
  --light: var(--cyan-1);                 /* Light text */
  --dark: var(--cyan-12);                 /* Dark text */
}

:is(.dark) :where(.schema-cyan)  {
  --background: var(--cyan-12);           /* App background (-1) */
  --subtle-background: var(--cyan-11);    /* Subtle background (-2) */
  --ui-background: var(--cyan-10);        /* UI element background (-3) */
  --ui-hover-background: var(--cyan-9);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--cyan-8);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--cyan-7);         /* Subtle borders and separators (-6) */
  --ui-border: var(--cyan-6);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--cyan-5);       /* Hovered UI element border (-8) */
  --solid-background: var(--cyan-4);      /* Solid backgrounds (-9) */
  --solid-hover: var(--cyan-3);           /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--cyan-2);          /* Low-contrast text (-11) */
  --high-contrast: var(--cyan-1);         /* High-contrast text (-12) */
}

:where(.is-cyan) {
  color: var(--cyan-1);
  background-color: var(--cyan-9);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--cyan-10);
  }
}

:is(.dark) :where(.is-cyan) {
  color: var(--cyan-1);
  background-color: var(--cyan-4);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--cyan-3);
  }
}

:where(.is-cyan-color) {
  color: var(--cyan-12);
}

:is(:dark) :where(.is-cyan-color) {
  color: var(--cyan-1);
}

:where(.is-cyan-low-contrast) {
  color: var(--cyan-11);
}

:is(.dark) :where(.is-cyan-low-contrast) {
  color: var(--cyan-2);
}

:where(.is-cyan-high-contrast) {
  color: var(--cyan-12);
}

:is(.dark) :where(.is-cyan-high-contrast) {
  color: var(--cyan-1);
}

:where(.is-cyan-background) {
  background-color: var(--cyan-1);
}

:is(.dark) :where(.is-cyan-background) {
  background-color: var(--cyan-12);
}

:where(.is-cyan-subtle-background) {
  background-color: var(--cyan-2);
}

:is(.dark) :where(.is-cyan-subtle-background) {
  background-color: var(--cyan-11);
}

:where(.is-cyan-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--cyan-3);

  &:hover {
    background-color: var(--cyan-4);
  }
}

:is(.dark) :where(.is-cyan-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--cyan-10);

  &:hover {
    background-color: var(--cyan-9);
  }
}

:where(.is-cyan-ui-hover-background) {
  background-color: var(--cyan-4);
}

:is(.dark) :where(.is-cyan-ui-hover-background) {
  background-color: var(--cyan-9);
}

:where(.is-cyan-ui-active-background) {
  background-color: var(--cyan-5);
}

:is(.dark) :where(.is-cyan-ui-active-background) {
  background-color: var(--cyan-8);
}

:where(.is-cyan-subtle-element-background) {
  background-color: var(--cyan-6);
}

:is(.dark) :where(.is-cyan-subtle-element-background) {
  background-color: var(--cyan-7);
}

:where(.is-cyan-ui-element-background) {
  background-color: var(--cyan-7);
}

:is(.dark) :where(.is-cyan-ui-element-background) {
  background-color: var(--cyan-6);
}

:where(.is-cyan-ui-hover-background) {
  background-color: var(--cyan-8);
}

:is(.dark) :where(.is-cyan-ui-hover-background) {
  background-color: var(--cyan-5);
}

:where(.is-cyan-solid-background) {
  background-color: var(--cyan-9);
}

:is(.dark) :where(.is-cyan-solid-background) {
  background-color: var(--cyan-4);
}

:where(.is-cyan-hover-solid-background) {
  background-color: var(--cyan-10);
}

:is(.dark) :where(.is-cyan-hover-solid-background) {
  background-color: var(--cyan-3);
}

:where(.is-cyan-low-contrast-background) {
  background-color: var(--cyan-11);
}

:is(.dark) :where(.is-cyan-low-contrast-background) {
  background-color: var(--cyan-2);
}

:where(.is-cyan-high-contrast-background) {
  background-color: var(--cyan-12);
}

:is(.dark) :where(.is-cyan-high-contrast-background) {
  background-color: var(--cyan-1);
}

:where(.is-cyan-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--cyan-7);
  border-color: var(--cyan-7);

  &:hover {
    outline-color: var(--cyan-8);
    border-color: var(--cyan-8);
  }
}

:is(.dark) :where(.is-cyan-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--cyan-6);
  border-color: var(--cyan-6);

  &:hover {
    outline-color: var(--cyan-5);
    border-color: var(--cyan-5);
  }
}
