:where(.schema-gold) {
  --background: var(--gold-1);            /* App background (-1) */
  --subtle-background: var(--gold-2);     /* Subtle background (-2) */
  --ui-background: var(--gold-3);         /* UI element background (-3) */
  --ui-hover-background: var(--gold-4);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--gold-5);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--gold-6);         /* Subtle borders and separators (-6) */
  --ui-border: var(--gold-7);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--gold-8);       /* Hovered UI element border (-8) */
  --solid-background: var(--gold-9);      /* Solid backgrounds (-9) */
  --solid-hover: var(--gold-10);          /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--gold-11);         /* Low-contrast text (-11) */
  --high-contrast: var(--gold-12);        /* High-contrast text (-12) */
  --light: var(--gold-1);                 /* Light text */
  --dark: var(--gold-12);                 /* Dark text */
}

:is(.dark) :where(.schema-gold)  {
  --background: var(--gold-12);           /* App background (-1) */
  --subtle-background: var(--gold-11);    /* Subtle background (-2) */
  --ui-background: var(--gold-10);        /* UI element background (-3) */
  --ui-hover-background: var(--gold-9);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--gold-8);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--gold-7);         /* Subtle borders and separators (-6) */
  --ui-border: var(--gold-6);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--gold-5);       /* Hovered UI element border (-8) */
  --solid-background: var(--gold-4);      /* Solid backgrounds (-9) */
  --solid-hover: var(--gold-3);           /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--gold-2);          /* Low-contrast text (-11) */
  --high-contrast: var(--gold-1);         /* High-contrast text (-12) */
}

:where(.is-gold) {
  color: var(--gold-1);
  background-color: var(--gold-9);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--gold-10);
  }
}

:is(.dark) :where(.is-gold) {
  color: var(--gold-1);
  background-color: var(--gold-4);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--gold-3);
  }
}

:where(.is-gold-color) {
  color: var(--gold-12);
}

:is(:dark) :where(.is-gold-color) {
  color: var(--gold-1);
}

:where(.is-gold-low-contrast) {
  color: var(--gold-11);
}

:is(.dark) :where(.is-gold-low-contrast) {
  color: var(--gold-2);
}

:where(.is-gold-high-contrast) {
  color: var(--gold-12);
}

:is(.dark) :where(.is-gold-high-contrast) {
  color: var(--gold-1);
}

:where(.is-gold-background) {
  background-color: var(--gold-1);
}

:is(.dark) :where(.is-gold-background) {
  background-color: var(--gold-12);
}

:where(.is-gold-subtle-background) {
  background-color: var(--gold-2);
}

:is(.dark) :where(.is-gold-subtle-background) {
  background-color: var(--gold-11);
}

:where(.is-gold-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--gold-3);

  &:hover {
    background-color: var(--gold-4);
  }
}

:is(.dark) :where(.is-gold-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--gold-10);

  &:hover {
    background-color: var(--gold-9);
  }
}

:where(.is-gold-ui-hover-background) {
  background-color: var(--gold-4);
}

:is(.dark) :where(.is-gold-ui-hover-background) {
  background-color: var(--gold-9);
}

:where(.is-gold-ui-active-background) {
  background-color: var(--gold-5);
}

:is(.dark) :where(.is-gold-ui-active-background) {
  background-color: var(--gold-8);
}

:where(.is-gold-subtle-element-background) {
  background-color: var(--gold-6);
}

:is(.dark) :where(.is-gold-subtle-element-background) {
  background-color: var(--gold-7);
}

:where(.is-gold-ui-element-background) {
  background-color: var(--gold-7);
}

:is(.dark) :where(.is-gold-ui-element-background) {
  background-color: var(--gold-6);
}

:where(.is-gold-ui-hover-background) {
  background-color: var(--gold-8);
}

:is(.dark) :where(.is-gold-ui-hover-background) {
  background-color: var(--gold-5);
}

:where(.is-gold-solid-background) {
  background-color: var(--gold-9);
}

:is(.dark) :where(.is-gold-solid-background) {
  background-color: var(--gold-4);
}

:where(.is-gold-hover-solid-background) {
  background-color: var(--gold-10);
}

:is(.dark) :where(.is-gold-hover-solid-background) {
  background-color: var(--gold-3);
}

:where(.is-gold-low-contrast-background) {
  background-color: var(--gold-11);
}

:is(.dark) :where(.is-gold-low-contrast-background) {
  background-color: var(--gold-2);
}

:where(.is-gold-high-contrast-background) {
  background-color: var(--gold-12);
}

:is(.dark) :where(.is-gold-high-contrast-background) {
  background-color: var(--gold-1);
}

:where(.is-gold-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--gold-7);
  border-color: var(--gold-7);

  &:hover {
    outline-color: var(--gold-8);
    border-color: var(--gold-8);
  }
}

:is(.dark) :where(.is-gold-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--gold-6);
  border-color: var(--gold-6);

  &:hover {
    outline-color: var(--gold-5);
    border-color: var(--gold-5);
  }
}
