:where(.schema-gray) {
  --background: var(--gray-1);            /* App background (-1) */
  --subtle-background: var(--gray-2);     /* Subtle background (-2) */
  --ui-background: var(--gray-3);         /* UI element background (-3) */
  --ui-hover-background: var(--gray-4);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--gray-5);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--gray-6);         /* Subtle borders and separators (-6) */
  --ui-border: var(--gray-7);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--gray-8);       /* Hovered UI element border (-8) */
  --solid-background: var(--gray-9);      /* Solid backgrounds (-9) */
  --solid-hover: var(--gray-10);          /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--gray-11);         /* Low-contrast text (-11) */
  --high-contrast: var(--gray-12);        /* High-contrast text (-12) */
  --light: var(--gray-1);                 /* Light text */
  --dark: var(--gray-12);                 /* Dark text */
}

:is(.dark) :where(.schema-gray)  {
  --background: var(--gray-12);           /* App background (-1) */
  --subtle-background: var(--gray-11);    /* Subtle background (-2) */
  --ui-background: var(--gray-10);        /* UI element background (-3) */
  --ui-hover-background: var(--gray-9);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--gray-8);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--gray-7);         /* Subtle borders and separators (-6) */
  --ui-border: var(--gray-6);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--gray-5);       /* Hovered UI element border (-8) */
  --solid-background: var(--gray-4);      /* Solid backgrounds (-9) */
  --solid-hover: var(--gray-3);           /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--gray-2);          /* Low-contrast text (-11) */
  --high-contrast: var(--gray-1);         /* High-contrast text (-12) */
}

:where(.is-gray) {
  color: var(--gray-1);
  background-color: var(--gray-9);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--gray-10);
  }
}

:is(.dark) :where(.is-gray) {
  color: var(--gray-1);
  background-color: var(--gray-4);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--gray-3);
  }
}

:where(.is-gray-color) {
  color: var(--gray-12);
}

:is(.dark) :where(.is-gray-color) {
  color: var(--gray-1);
}

:where(.is-gray-low-contrast) {
  color: var(--gray-11);
}

:is(.dark) :where(.is-gray-low-contrast) {
  color: var(--gray-2);
}

:where(.is-gray-high-contrast) {
  color: var(--gray-12);
}

:is(.dark) :where(.is-gray-high-contrast) {
  color: var(--gray-1);
}

:where(.is-gray-background) {
  background-color: var(--gray-1);
}

:is(.dark) :where(.is-gray-background) {
  background-color: var(--gray-12);
}

:where(.is-gray-subtle-background) {
  background-color: var(--gray-2);
}

:is(.dark) :where(.is-gray-subtle-background) {
  background-color: var(--gray-11);
}

:where(.is-gray-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--gray-3);

  &:hover {
    background-color: var(--gray-4);
  }
}

:is(.dark) :where(.is-gray-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--gray-10);

  &:hover {
    background-color: var(--gray-9);
  }
}

:where(.is-gray-ui-hover-background) {
  background-color: var(--gray-4);
}

:is(.dark) :where(.is-gray-ui-hover-background) {
  background-color: var(--gray-9);
}

:where(.is-gray-ui-active-background) {
  background-color: var(--gray-5);
}

:is(.dark) :where(.is-gray-ui-active-background) {
  background-color: var(--gray-8);
}

:where(.is-gray-subtle-element-background) {
  background-color: var(--gray-6);
}

:is(.dark) :where(.is-gray-subtle-element-background) {
  background-color: var(--gray-7);
}

:where(.is-gray-ui-element-background) {
  background-color: var(--gray-7);
}

:is(.dark) :where(.is-gray-ui-element-background) {
  background-color: var(--gray-6);
}

:where(.is-gray-ui-hover-background) {
  background-color: var(--gray-8);
}

:is(.dark) :where(.is-gray-ui-hover-background) {
  background-color: var(--gray-5);
}

:where(.is-gray-solid-background) {
  background-color: var(--gray-9);
}

:is(.dark) :where(.is-gray-solid-background) {
  background-color: var(--gray-4);
}

:where(.is-gray-hover-solid-background) {
  background-color: var(--gray-10);
}

:is(.dark) :where(.is-gray-hover-solid-background) {
  background-color: var(--gray-3);
}

:where(.is-gray-low-contrast-background) {
  background-color: var(--gray-11);
}

:is(.dark) :where(.is-gray-low-contrast-background) {
  background-color: var(--gray-2);
}

:where(.is-gray-high-contrast-background) {
  background-color: var(--gray-12);
}

:is(.dark) :where(.is-gray-high-contrast-background) {
  background-color: var(--gray-1);
}

:where(.is-gray-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--gray-7);
  border-color: var(--gray-7);

  &:hover {
    outline-color: var(--gray-8);
    border-color: var(--gray-8);
  }
}

:is(.dark) :where(.is-gray-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--gray-6);
  border-color: var(--gray-6);

  &:hover {
    outline-color: var(--gray-5);
    border-color: var(--gray-5);
  }
}
