:where(.schema-green) {
  --background: var(--green-1);            /* App background (-1) */
  --subtle-background: var(--green-2);     /* Subtle background (-2) */
  --ui-background: var(--green-3);         /* UI element background (-3) */
  --ui-hover-background: var(--green-4);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--green-5);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--green-6);         /* Subtle borders and separators (-6) */
  --ui-border: var(--green-7);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--green-8);       /* Hovered UI element border (-8) */
  --solid-background: var(--green-9);      /* Solid backgrounds (-9) */
  --solid-hover: var(--green-10);          /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--green-11);         /* Low-contrast text (-11) */
  --high-contrast: var(--green-12);        /* High-contrast text (-12) */
  --light: var(--green-1);                 /* Light text */
  --dark: var(--green-12);                 /* Dark text */
}

:is(.dark) :where(.schema-green)  {
  --background: var(--green-12);           /* App background (-1) */
  --subtle-background: var(--green-11);    /* Subtle background (-2) */
  --ui-background: var(--green-10);        /* UI element background (-3) */
  --ui-hover-background: var(--green-9);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--green-8);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--green-7);         /* Subtle borders and separators (-6) */
  --ui-border: var(--green-6);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--green-5);       /* Hovered UI element border (-8) */
  --solid-background: var(--green-4);      /* Solid backgrounds (-9) */
  --solid-hover: var(--green-3);           /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--green-2);          /* Low-contrast text (-11) */
  --high-contrast: var(--green-1);         /* High-contrast text (-12) */
}

:where(.is-green) {
  color: var(--green-1);
  background-color: var(--green-9);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--green-10);
  }
}

:is(.dark) :where(.is-green) {
  color: var(--green-1);
  background-color: var(--green-4);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--green-3);
  }
}

:where(.is-green-color) {
  color: var(--green-12);
}

:is(:dark) :where(.is-green-color) {
  color: var(--green-1);
}

:where(.is-green-low-contrast) {
  color: var(--green-11);
}

:is(.dark) :where(.is-green-low-contrast) {
  color: var(--green-2);
}

:where(.is-green-high-contrast) {
  color: var(--green-12);
}

:is(.dark) :where(.is-green-high-contrast) {
  color: var(--green-1);
}

:where(.is-green-background) {
  background-color: var(--green-1);
}

:is(.dark) :where(.is-green-background) {
  background-color: var(--green-12);
}

:where(.is-green-subtle-background) {
  background-color: var(--green-2);
}

:is(.dark) :where(.is-green-subtle-background) {
  background-color: var(--green-11);
}

:where(.is-green-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--green-3);

  &:hover {
    background-color: var(--green-4);
  }
}

:is(.dark) :where(.is-green-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--green-10);

  &:hover {
    background-color: var(--green-9);
  }
}

:where(.is-green-ui-hover-background) {
  background-color: var(--green-4);
}

:is(.dark) :where(.is-green-ui-hover-background) {
  background-color: var(--green-9);
}

:where(.is-green-ui-active-background) {
  background-color: var(--green-5);
}

:is(.dark) :where(.is-green-ui-active-background) {
  background-color: var(--green-8);
}

:where(.is-green-subtle-element-background) {
  background-color: var(--green-6);
}

:is(.dark) :where(.is-green-subtle-element-background) {
  background-color: var(--green-7);
}

:where(.is-green-ui-element-background) {
  background-color: var(--green-7);
}

:is(.dark) :where(.is-green-ui-element-background) {
  background-color: var(--green-6);
}

:where(.is-green-ui-hover-background) {
  background-color: var(--green-8);
}

:is(.dark) :where(.is-green-ui-hover-background) {
  background-color: var(--green-5);
}

:where(.is-green-solid-background) {
  background-color: var(--green-9);
}

:is(.dark) :where(.is-green-solid-background) {
  background-color: var(--green-4);
}

:where(.is-green-hover-solid-background) {
  background-color: var(--green-10);
}

:is(.dark) :where(.is-green-hover-solid-background) {
  background-color: var(--green-3);
}

:where(.is-green-low-contrast-background) {
  background-color: var(--green-11);
}

:is(.dark) :where(.is-green-low-contrast-background) {
  background-color: var(--green-2);
}

:where(.is-green-high-contrast-background) {
  background-color: var(--green-12);
}

:is(.dark) :where(.is-green-high-contrast-background) {
  background-color: var(--green-1);
}

:where(.is-green-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--green-7);
  border-color: var(--green-7);

  &:hover {
    outline-color: var(--green-8);
    border-color: var(--green-8);
  }
}

:is(.dark) :where(.is-green-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--green-6);
  border-color: var(--green-6);

  &:hover {
    outline-color: var(--green-5);
    border-color: var(--green-5);
  }
}
