:where(.schema-indigo) {
  --background: var(--indigo-1);            /* App background (-1) */
  --subtle-background: var(--indigo-2);     /* Subtle background (-2) */
  --ui-background: var(--indigo-3);         /* UI element background (-3) */
  --ui-hover-background: var(--indigo-4);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--indigo-5);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--indigo-6);         /* Subtle borders and separators (-6) */
  --ui-border: var(--indigo-7);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--indigo-8);       /* Hovered UI element border (-8) */
  --solid-background: var(--indigo-9);      /* Solid backgrounds (-9) */
  --solid-hover: var(--indigo-10);          /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--indigo-11);         /* Low-contrast text (-11) */
  --high-contrast: var(--indigo-12);        /* High-contrast text (-12) */
  --light: var(--indigo-1);                 /* Light text */
  --dark: var(--indigo-12);                 /* Dark text */
}

:is(.dark) :where(.schema-indigo)  {
  --background: var(--indigo-12);           /* App background (-1) */
  --subtle-background: var(--indigo-11);    /* Subtle background (-2) */
  --ui-background: var(--indigo-10);        /* UI element background (-3) */
  --ui-hover-background: var(--indigo-9);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--indigo-8);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--indigo-7);         /* Subtle borders and separators (-6) */
  --ui-border: var(--indigo-6);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--indigo-5);       /* Hovered UI element border (-8) */
  --solid-background: var(--indigo-4);      /* Solid backgrounds (-9) */
  --solid-hover: var(--indigo-3);           /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--indigo-2);          /* Low-contrast text (-11) */
  --high-contrast: var(--indigo-1);         /* High-contrast text (-12) */
}

:where(.is-indigo) {
  color: var(--indigo-1);
  background-color: var(--indigo-9);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--indigo-10);
  }
}

:is(.dark) :where(.is-indigo) {
  color: var(--indigo-1);
  background-color: var(--indigo-4);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--gold-3);
  }
}

:where(.is-indigo-color) {
  color: var(--indigo-12);
}

:is(:dark) :where(.is-indigo-color) {
  color: var(--indigo-1);
}

:where(.is-indigo-low-contrast) {
  color: var(--indigo-11);
}

:is(.dark) :where(.is-indigo-low-contrast) {
  color: var(--indigo-2);
}

:where(.is-indigo-high-contrast) {
  color: var(--indigo-12);
}

:is(.dark) :where(.is-indigo-high-contrast) {
  color: var(--indigo-1);
}

:where(.is-indigo-background) {
  background-color: var(--indigo-1);
}

:is(.dark) :where(.is-indigo-background) {
  background-color: var(--indigo-12);
}

:where(.is-indigo-subtle-background) {
  background-color: var(--indigo-2);
}

:is(.dark) :where(.is-indigo-subtle-background) {
  background-color: var(--indigo-11);
}

:where(.is-indigo-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--indigo-3);

  &:hover {
    background-color: var(--indigo-4);
  }
}

:is(.dark) :where(.is-indigo-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--indigo-10);

  &:hover {
    background-color: var(--indigo-9);
  }
}

:where(.is-indigo-ui-hover-background) {
  background-color: var(--indigo-4);
}

:is(.dark) :where(.is-indigo-ui-hover-background) {
  background-color: var(--indigo-9);
}

:where(.is-indigo-ui-active-background) {
  background-color: var(--indigo-5);
}

:is(.dark) :where(.is-indigo-ui-active-background) {
  background-color: var(--indigo-8);
}

:where(.is-indigo-subtle-element-background) {
  background-color: var(--indigo-6);
}

:is(.dark) :where(.is-indigo-subtle-element-background) {
  background-color: var(--indigo-7);
}

:where(.is-indigo-ui-element-background) {
  background-color: var(--indigo-7);
}

:is(.dark) :where(.is-indigo-ui-element-background) {
  background-color: var(--indigo-6);
}

:where(.is-indigo-ui-hover-background) {
  background-color: var(--indigo-8);
}

:is(.dark) :where(.is-indigo-ui-hover-background) {
  background-color: var(--indigo-5);
}

:where(.is-indigo-solid-background) {
  background-color: var(--indigo-9);
}

:is(.dark) :where(.is-indigo-solid-background) {
  background-color: var(--indigo-4);
}

:where(.is-indigo-hover-solid-background) {
  background-color: var(--indigo-10);
}

:is(.dark) :where(.is-indigo-hover-solid-background) {
  background-color: var(--indigo-3);
}

:where(.is-indigo-low-contrast-background) {
  background-color: var(--indigo-11);
}

:is(.dark) :where(.is-indigo-low-contrast-background) {
  background-color: var(--indigo-2);
}

:where(.is-indigo-high-contrast-background) {
  background-color: var(--indigo-12);
}

:is(.dark) :where(.is-indigo-high-contrast-background) {
  background-color: var(--indigo-1);
}

:where(.is-indigo-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--indigo-7);
  border-color: var(--indigo-7);

  &:hover {
    outline-color: var(--indigo-8);
    border-color: var(--indigo-8);
  }
}

:is(.dark) :where(.is-indigo-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--indigo-6);
  border-color: var(--indigo-6);

  &:hover {
    outline-color: var(--indigo-5);
    border-color: var(--indigo-5);
  }
}
