:where(.schema-lime) {
  --background: var(--lime-1);            /* App background (-1) */
  --subtle-background: var(--lime-2);     /* Subtle background (-2) */
  --ui-background: var(--lime-3);         /* UI element background (-3) */
  --ui-hover-background: var(--lime-4);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--lime-5);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--lime-6);         /* Subtle borders and separators (-6) */
  --ui-border: var(--lime-7);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--lime-8);       /* Hovered UI element border (-8) */
  --solid-background: var(--lime-9);      /* Solid backgrounds (-9) */
  --solid-hover: var(--lime-10);          /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--lime-11);         /* Low-contrast text (-11) */
  --high-contrast: var(--lime-12);        /* High-contrast text (-12) */
  --light: var(--lime-1);                 /* Light text */
  --dark: var(--lime-12);                 /* Dark text */
}

:is(.dark) :where(.schema-lime)  {
  --background: var(--lime-12);           /* App background (-1) */
  --subtle-background: var(--lime-11);    /* Subtle background (-2) */
  --ui-background: var(--lime-10);        /* UI element background (-3) */
  --ui-hover-background: var(--lime-9);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--lime-8);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--lime-7);         /* Subtle borders and separators (-6) */
  --ui-border: var(--lime-6);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--lime-5);       /* Hovered UI element border (-8) */
  --solid-background: var(--lime-4);      /* Solid backgrounds (-9) */
  --solid-hover: var(--lime-3);           /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--lime-2);          /* Low-contrast text (-11) */
  --high-contrast: var(--lime-1);         /* High-contrast text (-12) */
}

:where(.is-lime) {
  color: var(--lime-12);
  background-color: var(--lime-9);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--lime-10);
  }
}

:is(.dark) :where(.is-lime) {
  color: var(--lime-12);
  background-color: var(--lime-4);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--lime-3);
  }
}

:where(.is-lime-color) {
  color: var(--lime-12);
}

:is(:dark) :where(.is-lime-color) {
  color: var(--lime-1);
}

:where(.is-lime-low-contrast) {
  color: var(--lime-11);
}

:is(.dark) :where(.is-lime-low-contrast) {
  color: var(--lime-2);
}

:where(.is-lime-high-contrast) {
  color: var(--lime-12);
}

:is(.dark) :where(.is-lime-high-contrast) {
  color: var(--lime-1);
}

:where(.is-lime-background) {
  background-color: var(--lime-1);
}

:is(.dark) :where(.is-lime-background) {
  background-color: var(--lime-12);
}

:where(.is-lime-subtle-background) {
  background-color: var(--lime-2);
}

:is(.dark) :where(.is-lime-subtle-background) {
  background-color: var(--lime-11);
}

:where(.is-lime-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--lime-3);

  &:hover {
    background-color: var(--lime-4);
  }
}

:is(.dark) :where(.is-lime-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--lime-10);

  &:hover {
    background-color: var(--lime-9);
  }
}

:where(.is-lime-ui-hover-background) {
  background-color: var(--lime-4);
}

:is(.dark) :where(.is-lime-ui-hover-background) {
  background-color: var(--lime-9);
}

:where(.is-lime-ui-active-background) {
  background-color: var(--lime-5);
}

:is(.dark) :where(.is-lime-ui-active-background) {
  background-color: var(--lime-8);
}

:where(.is-lime-subtle-element-background) {
  background-color: var(--lime-6);
}

:is(.dark) :where(.is-lime-subtle-element-background) {
  background-color: var(--lime-7);
}

:where(.is-lime-ui-element-background) {
  background-color: var(--lime-7);
}

:is(.dark) :where(.is-lime-ui-element-background) {
  background-color: var(--lime-6);
}

:where(.is-lime-ui-hover-background) {
  background-color: var(--lime-8);
}

:is(.dark) :where(.is-lime-ui-hover-background) {
  background-color: var(--lime-5);
}

:where(.is-lime-solid-background) {
  background-color: var(--lime-9);
}

:is(.dark) :where(.is-lime-solid-background) {
  background-color: var(--lime-4);
}

:where(.is-lime-hover-solid-background) {
  background-color: var(--lime-10);
}

:is(.dark) :where(.is-lime-hover-solid-background) {
  background-color: var(--lime-3);
}

:where(.is-lime-low-contrast-background) {
  background-color: var(--lime-11);
}

:is(.dark) :where(.is-lime-low-contrast-background) {
  background-color: var(--lime-2);
}

:where(.is-lime-high-contrast-background) {
  background-color: var(--lime-12);
}

:is(.dark) :where(.is-lime-high-contrast-background) {
  background-color: var(--lime-1);
}

:where(.is-lime-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--lime-7);
  border-color: var(--lime-7);

  &:hover {
    outline-color: var(--lime-8);
    border-color: var(--lime-8);
  }
}

:is(.dark) :where(.is-lime-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--lime-6);
  border-color: var(--lime-6);

  &:hover {
    outline-color: var(--lime-5);
    border-color: var(--lime-5);
  }
}
