:where(.schema-mauve) {
  --background: var(--mauve-1);            /* App background (-1) */
  --subtle-background: var(--mauve-2);     /* Subtle background (-2) */
  --ui-background: var(--mauve-3);         /* UI element background (-3) */
  --ui-hover-background: var(--mauve-4);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--mauve-5);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--mauve-6);         /* Subtle borders and separators (-6) */
  --ui-border: var(--mauve-7);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--mauve-8);       /* Hovered UI element border (-8) */
  --solid-background: var(--mauve-9);      /* Solid backgrounds (-9) */
  --solid-hover: var(--mauve-10);          /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--mauve-11);         /* Low-contrast text (-11) */
  --high-contrast: var(--mauve-12);        /* High-contrast text (-12) */
  --light: var(--mauve-1);                 /* Light text */
  --dark: var(--mauve-12);                 /* Dark text */
}

:is(.dark) :where(.schema-mauve)  {
  --background: var(--mauve-12);           /* App background (-1) */
  --subtle-background: var(--mauve-11);    /* Subtle background (-2) */
  --ui-background: var(--mauve-10);        /* UI element background (-3) */
  --ui-hover-background: var(--mauve-9);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--mauve-8);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--mauve-7);         /* Subtle borders and separators (-6) */
  --ui-border: var(--mauve-6);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--mauve-5);       /* Hovered UI element border (-8) */
  --solid-background: var(--mauve-4);      /* Solid backgrounds (-9) */
  --solid-hover: var(--mauve-3);           /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--mauve-2);          /* Low-contrast text (-11) */
  --high-contrast: var(--mauve-1);         /* High-contrast text (-12) */
}

:where(.is-mauve) {
  color: var(--mauve-1);
  background-color: var(--mauve-9);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--mauve-10);
  }
}

:is(.dark) :where(.is-mauve) {
  color: var(--mauve-1);
  background-color: var(--mauve-4);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--mauve-3);
  }
}

:where(.is-mauve-color) {
  color: var(--mauve-12);
}

:is(:dark) :where(.is-mauve-color) {
  color: var(--mauve-1);
}

:where(.is-mauve-low-contrast) {
  color: var(--mauve-11);
}

:is(.dark) :where(.is-mauve-low-contrast) {
  color: var(--mauve-2);
}

:where(.is-mauve-high-contrast) {
  color: var(--mauve-12);
}

:is(.dark) :where(.is-mauve-high-contrast) {
  color: var(--mauve-1);
}

:where(.is-mauve-background) {
  background-color: var(--mauve-1);
}

:is(.dark) :where(.is-mauve-background) {
  background-color: var(--mauve-12);
}

:where(.is-mauve-subtle-background) {
  background-color: var(--mauve-2);
}

:is(.dark) :where(.is-mauve-subtle-background) {
  background-color: var(--mauve-11);
}

:where(.is-mauve-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--mauve-3);

  &:hover {
    background-color: var(--mauve-4);
  }
}

:is(.dark) :where(.is-mauve-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--mauve-10);

  &:hover {
    background-color: var(--mauve-9);
  }
}

:where(.is-mauve-ui-hover-background) {
  background-color: var(--mauve-4);
}

:is(.dark) :where(.is-mauve-ui-hover-background) {
  background-color: var(--mauve-9);
}

:where(.is-mauve-ui-active-background) {
  background-color: var(--mauve-5);
}

:is(.dark) :where(.is-mauve-ui-active-background) {
  background-color: var(--mauve-8);
}

:where(.is-mauve-subtle-element-background) {
  background-color: var(--mauve-6);
}

:is(.dark) :where(.is-mauve-subtle-element-background) {
  background-color: var(--mauve-7);
}

:where(.is-mauve-ui-element-background) {
  background-color: var(--mauve-7);
}

:is(.dark) :where(.is-mauve-ui-element-background) {
  background-color: var(--mauve-6);
}

:where(.is-mauve-ui-hover-background) {
  background-color: var(--mauve-8);
}

:is(.dark) :where(.is-mauve-ui-hover-background) {
  background-color: var(--mauve-5);
}

:where(.is-mauve-solid-background) {
  background-color: var(--mauve-9);
}

:is(.dark) :where(.is-mauve-solid-background) {
  background-color: var(--mauve-4);
}

:where(.is-mauve-hover-solid-background) {
  background-color: var(--mauve-10);
}

:is(.dark) :where(.is-mauve-hover-solid-background) {
  background-color: var(--mauve-3);
}

:where(.is-mauve-low-contrast-background) {
  background-color: var(--mauve-11);
}

:is(.dark) :where(.is-mauve-low-contrast-background) {
  background-color: var(--mauve-2);
}

:where(.is-mauve-high-contrast-background) {
  background-color: var(--mauve-12);
}

:is(.dark) :where(.is-mauve-high-contrast-background) {
  background-color: var(--mauve-1);
}

:where(.is-mauve-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--mauve-7);
  border-color: var(--mauve-7);

  &:hover {
    outline-color: var(--mauve-8);
    border-color: var(--mauve-8);
  }
}

:is(.dark) :where(.is-mauve-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--mauve-6);
  border-color: var(--mauve-6);

  &:hover {
    outline-color: var(--mauve-5);
    border-color: var(--mauve-5);
  }
}
