:where(.schema-olive) {
  --background: var(--olive-1);            /* App background (-1) */
  --subtle-background: var(--olive-2);     /* Subtle background (-2) */
  --ui-background: var(--olive-3);         /* UI element background (-3) */
  --ui-hover-background: var(--olive-4);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--olive-5);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--olive-6);         /* Subtle borders and separators (-6) */
  --ui-border: var(--olive-7);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--olive-8);       /* Hovered UI element border (-8) */
  --solid-background: var(--olive-9);      /* Solid backgrounds (-9) */
  --solid-hover: var(--olive-10);          /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--olive-11);         /* Low-contrast text (-11) */
  --high-contrast: var(--olive-12);        /* High-contrast text (-12) */
  --light: var(--olive-1);                 /* Light text */
  --white: var(--olive-1);                 /* White text */
  --black: var(--olive-12);                /* Black text */
  --dark: var(--olive-12);                 /* Dark text */
}

:is(.dark) :where(.schema-olive)  {
  --background: var(--olive-12);           /* App background (-1) */
  --subtle-background: var(--olive-11);    /* Subtle background (-2) */
  --ui-background: var(--olive-10);        /* UI element background (-3) */
  --ui-hover-background: var(--olive-9);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--olive-8);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--olive-7);         /* Subtle borders and separators (-6) */
  --ui-border: var(--olive-6);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--olive-5);       /* Hovered UI element border (-8) */
  --solid-background: var(--olive-4);      /* Solid backgrounds (-9) */
  --solid-hover: var(--olive-3);           /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--olive-2);          /* Low-contrast text (-11) */
  --high-contrast: var(--olive-1);         /* High-contrast text (-12) */
}

:where(.is-olive) {
  color: var(--olive-1);
  background-color: var(--olive-9);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--olive-10);
  }
}

:is(.dark) :where(.is-olive) {
  color: var(--olive-1);
  background-color: var(--olive-4);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--olive-3);
  }
}

:where(.is-olive-color) {
  color: var(--olive-12);
}

:is(:dark) :where(.is-olive-color) {
  color: var(--olive-1);
}

:where(.is-olive-low-contrast) {
  color: var(--olive-11);
}

:is(.dark) :where(.is-olive-low-contrast) {
  color: var(--olive-2);
}

:where(.is-olive-high-contrast) {
  color: var(--olive-12);
}

:is(.dark) :where(.is-olive-high-contrast) {
  color: var(--olive-1);
}

:where(.is-olive-background) {
  background-color: var(--olive-1);
}

:is(.dark) :where(.is-olive-background) {
  background-color: var(--olive-12);
}

:where(.is-olive-subtle-background) {
  background-color: var(--olive-2);
}

:is(.dark) :where(.is-olive-subtle-background) {
  background-color: var(--olive-11);
}

:where(.is-olive-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--olive-3);

  &:hover {
    background-color: var(--olive-4);
  }
}

:is(.dark) :where(.is-olive-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--olive-10);

  &:hover {
    background-color: var(--olive-9);
  }
}

:where(.is-olive-ui-hover-background) {
  background-color: var(--olive-4);
}

:is(.dark) :where(.is-olive-ui-hover-background) {
  background-color: var(--olive-9);
}

:where(.is-olive-ui-active-background) {
  background-color: var(--olive-5);
}

:is(.dark) :where(.is-olive-ui-active-background) {
  background-color: var(--olive-8);
}

:where(.is-olive-subtle-element-background) {
  background-color: var(--olive-6);
}

:is(.dark) :where(.is-olive-subtle-element-background) {
  background-color: var(--olive-7);
}

:where(.is-olive-ui-element-background) {
  background-color: var(--olive-7);
}

:is(.dark) :where(.is-olive-ui-element-background) {
  background-color: var(--olive-6);
}

:where(.is-olive-ui-hover-background) {
  background-color: var(--olive-8);
}

:is(.dark) :where(.is-olive-ui-hover-background) {
  background-color: var(--olive-5);
}

:where(.is-olive-solid-background) {
  background-color: var(--olive-9);
}

:is(.dark) :where(.is-olive-solid-background) {
  background-color: var(--olive-4);
}

:where(.is-olive-hover-solid-background) {
  background-color: var(--olive-10);
}

:is(.dark) :where(.is-olive-hover-solid-background) {
  background-color: var(--olive-3);
}

:where(.is-olive-low-contrast-background) {
  background-color: var(--olive-11);
}

:is(.dark) :where(.is-olive-low-contrast-background) {
  background-color: var(--olive-2);
}

:where(.is-olive-high-contrast-background) {
  background-color: var(--olive-12);
}

:is(.dark) :where(.is-olive-high-contrast-background) {
  background-color: var(--olive-1);
}

:where(.is-olive-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--olive-7);
  border-color: var(--olive-7);

  &:hover {
    outline-color: var(--olive-8);
    border-color: var(--olive-8);
  }
}

:is(.dark) :where(.is-olive-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--olive-6);
  border-color: var(--olive-6);

  &:hover {
    outline-color: var(--olive-5);
    border-color: var(--olive-5);
  }
}
