:where(.schema-plum) {
  --background: var(--plum-1);            /* App background (-1) */
  --subtle-background: var(--plum-2);     /* Subtle background (-2) */
  --ui-background: var(--plum-3);         /* UI element background (-3) */
  --ui-hover-background: var(--plum-4);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--plum-5);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--plum-6);         /* Subtle borders and separators (-6) */
  --ui-border: var(--plum-7);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--plum-8);       /* Hovered UI element border (-8) */
  --solid-background: var(--plum-9);      /* Solid backgrounds (-9) */
  --solid-hover: var(--plum-10);          /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--plum-11);         /* Low-contrast text (-11) */
  --high-contrast: var(--plum-12);        /* High-contrast text (-12) */
  --light: var(--plum-1);                 /* Light text */
  --white: var(--plum-1);                 /* White text */
  --black: var(--plum-12);                /* Black text */
  --dark: var(--plum-12);                 /* Dark text */
}

:is(.dark) :where(.schema-plum)  {
  --background: var(--plum-12);           /* App background (-1) */
  --subtle-background: var(--plum-11);    /* Subtle background (-2) */
  --ui-background: var(--plum-10);        /* UI element background (-3) */
  --ui-hover-background: var(--plum-9);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--plum-8);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--plum-7);         /* Subtle borders and separators (-6) */
  --ui-border: var(--plum-6);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--plum-5);       /* Hovered UI element border (-8) */
  --solid-background: var(--plum-4);      /* Solid backgrounds (-9) */
  --solid-hover: var(--plum-3);           /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--plum-2);          /* Low-contrast text (-11) */
  --high-contrast: var(--plum-1);         /* High-contrast text (-12) */
}

:where(.is-plum) {
  color: var(--plum-1);
  background-color: var(--plum-9);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--plum-10);
  }
}

:is(.dark) :where(.is-plum) {
  color: var(--plum-1);
  background-color: var(--plum-4);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--plum-3);
  }
}

:where(.is-plum-color) {
  color: var(--plum-12);
}

:is(:dark) :where(.is-plum-color) {
  color: var(--plum-1);
}

:where(.is-plum-low-contrast) {
  color: var(--plum-11);
}

:is(.dark) :where(.is-plum-low-contrast) {
  color: var(--plum-2);
}

:where(.is-plum-high-contrast) {
  color: var(--plum-12);
}

:is(.dark) :where(.is-plum-high-contrast) {
  color: var(--plum-1);
}

:where(.is-plum-background) {
  background-color: var(--plum-1);
}

:is(.dark) :where(.is-plum-background) {
  background-color: var(--plum-12);
}

:where(.is-plum-subtle-background) {
  background-color: var(--plum-2);
}

:is(.dark) :where(.is-plum-subtle-background) {
  background-color: var(--plum-11);
}

:where(.is-plum-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--plum-3);

  &:hover {
    background-color: var(--plum-4);
  }
}

:is(.dark) :where(.is-plum-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--plum-10);

  &:hover {
    background-color: var(--plum-9);
  }
}

:where(.is-plum-ui-hover-background) {
  background-color: var(--plum-4);
}

:is(.dark) :where(.is-plum-ui-hover-background) {
  background-color: var(--plum-9);
}

:where(.is-plum-ui-active-background) {
  background-color: var(--plum-5);
}

:is(.dark) :where(.is-plum-ui-active-background) {
  background-color: var(--plum-8);
}

:where(.is-plum-subtle-element-background) {
  background-color: var(--plum-6);
}

:is(.dark) :where(.is-plum-subtle-element-background) {
  background-color: var(--plum-7);
}

:where(.is-plum-ui-element-background) {
  background-color: var(--plum-7);
}

:is(.dark) :where(.is-plum-ui-element-background) {
  background-color: var(--plum-6);
}

:where(.is-plum-ui-hover-background) {
  background-color: var(--plum-8);
}

:is(.dark) :where(.is-plum-ui-hover-background) {
  background-color: var(--plum-5);
}

:where(.is-plum-solid-background) {
  background-color: var(--plum-9);
}

:is(.dark) :where(.is-plum-solid-background) {
  background-color: var(--plum-4);
}

:where(.is-plum-hover-solid-background) {
  background-color: var(--plum-10);
}

:is(.dark) :where(.is-plum-hover-solid-background) {
  background-color: var(--plum-3);
}

:where(.is-plum-low-contrast-background) {
  background-color: var(--plum-11);
}

:is(.dark) :where(.is-plum-low-contrast-background) {
  background-color: var(--plum-2);
}

:where(.is-plum-high-contrast-background) {
  background-color: var(--plum-12);
}

:is(.dark) :where(.is-plum-high-contrast-background) {
  background-color: var(--plum-1);
}

:where(.is-plum-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--plum-7);
  border-color: var(--plum-7);

  &:hover {
    outline-color: var(--plum-8);
    border-color: var(--plum-8);
  }
}

:is(.dark) :where(.is-plum-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--plum-6);
  border-color: var(--plum-6);

  &:hover {
    outline-color: var(--plum-5);
    border-color: var(--plum-5);
  }
}
