:where(.schema-sand) {
  --background: var(--sand-1);            /* App background (-1) */
  --subtle-background: var(--sand-2);     /* Subtle background (-2) */
  --ui-background: var(--sand-3);         /* UI element background (-3) */
  --ui-hover-background: var(--sand-4);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--sand-5);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--sand-6);         /* Subtle borders and separators (-6) */
  --ui-border: var(--sand-7);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--sand-8);       /* Hovered UI element border (-8) */
  --solid-background: var(--sand-9);      /* Solid backgrounds (-9) */
  --solid-hover: var(--sand-10);          /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--sand-11);         /* Low-contrast text (-11) */
  --high-contrast: var(--sand-12);        /* High-contrast text (-12) */
  --light: var(--sand-1);                 /* Light text */
  --white: var(--sand-1);                 /* White text */
  --black: var(--sand-12);                /* Black text */
  --dark: var(--sand-12);                 /* Dark text */
}

:is(.dark) :where(.schema-sand)  {
  --background: var(--sand-12);           /* App background (-1) */
  --subtle-background: var(--sand-11);    /* Subtle background (-2) */
  --ui-background: var(--sand-10);        /* UI element background (-3) */
  --ui-hover-background: var(--sand-9);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--sand-8);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--sand-7);         /* Subtle borders and separators (-6) */
  --ui-border: var(--sand-6);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--sand-5);       /* Hovered UI element border (-8) */
  --solid-background: var(--sand-4);      /* Solid backgrounds (-9) */
  --solid-hover: var(--sand-3);           /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--sand-2);          /* Low-contrast text (-11) */
  --high-contrast: var(--sand-1);         /* High-contrast text (-12) */
}

:where(.is-sand) {
  color: var(--sand-1);
  background-color: var(--sand-9);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--sand-10);
  }
}

:is(.dark) :where(.is-sand) {
  color: var(--sand-1);
  background-color: var(--sand-4);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--sand-3);
  }
}

:where(.is-sand-color) {
  color: var(--sand-12);
}

:is(:dark) :where(.is-sand-color) {
  color: var(--sand-1);
}

:where(.is-sand-low-contrast) {
  color: var(--sand-11);
}

:is(.dark) :where(.is-sand-low-contrast) {
  color: var(--sand-2);
}

:where(.is-sand-high-contrast) {
  color: var(--sand-12);
}

:is(.dark) :where(.is-sand-high-contrast) {
  color: var(--sand-1);
}

:where(.is-sand-background) {
  background-color: var(--sand-1);
}

:is(.dark) :where(.is-sand-background) {
  background-color: var(--sand-12);
}

:where(.is-sand-subtle-background) {
  background-color: var(--sand-2);
}

:is(.dark) :where(.is-sand-subtle-background) {
  background-color: var(--sand-11);
}

:where(.is-sand-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--sand-3);

  &:hover {
    background-color: var(--sand-4);
  }
}

:is(.dark) :where(.is-sand-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--sand-10);

  &:hover {
    background-color: var(--sand-9);
  }
}

:where(.is-sand-ui-hover-background) {
  background-color: var(--sand-4);
}

:is(.dark) :where(.is-sand-ui-hover-background) {
  background-color: var(--sand-9);
}

:where(.is-sand-ui-active-background) {
  background-color: var(--sand-5);
}

:is(.dark) :where(.is-sand-ui-active-background) {
  background-color: var(--sand-8);
}

:where(.is-sand-subtle-element-background) {
  background-color: var(--sand-6);
}

:is(.dark) :where(.is-sand-subtle-element-background) {
  background-color: var(--sand-7);
}

:where(.is-sand-ui-element-background) {
  background-color: var(--sand-7);
}

:is(.dark) :where(.is-sand-ui-element-background) {
  background-color: var(--sand-6);
}

:where(.is-sand-ui-hover-background) {
  background-color: var(--sand-8);
}

:is(.dark) :where(.is-sand-ui-hover-background) {
  background-color: var(--sand-5);
}

:where(.is-sand-solid-background) {
  background-color: var(--sand-9);
}

:is(.dark) :where(.is-sand-solid-background) {
  background-color: var(--sand-4);
}

:where(.is-sand-hover-solid-background) {
  background-color: var(--sand-10);
}

:is(.dark) :where(.is-sand-hover-solid-background) {
  background-color: var(--sand-3);
}

:where(.is-sand-low-contrast-background) {
  background-color: var(--sand-11);
}

:is(.dark) :where(.is-sand-low-contrast-background) {
  background-color: var(--sand-2);
}

:where(.is-sand-high-contrast-background) {
  background-color: var(--sand-12);
}

:is(.dark) :where(.is-sand-high-contrast-background) {
  background-color: var(--sand-1);
}

:where(.is-sand-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--sand-7);
  border-color: var(--sand-7);

  &:hover {
    outline-color: var(--sand-8);
    border-color: var(--sand-8);
  }
}

:is(.dark) :where(.is-sand-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--sand-6);
  border-color: var(--sand-6);

  &:hover {
    outline-color: var(--sand-5);
    border-color: var(--sand-5);
  }
}
