:where(.schema-sky) {
  --background: var(--sky-1);            /* App background (-1) */
  --subtle-background: var(--sky-2);     /* Subtle background (-2) */
  --ui-background: var(--sky-3);         /* UI element background (-3) */
  --ui-hover-background: var(--sky-4);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--sky-5);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--sky-6);         /* Subtle borders and separators (-6) */
  --ui-border: var(--sky-7);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--sky-8);       /* Hovered UI element border (-8) */
  --solid-background: var(--sky-9);      /* Solid backgrounds (-9) */
  --solid-hover: var(--sky-10);          /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--sky-11);         /* Low-contrast text (-11) */
  --high-contrast: var(--sky-12);        /* High-contrast text (-12) */
  --light: var(--sky-1);                 /* Light text */
  --white: var(--sky-1);                 /* White text */
  --black: var(--sky-12);                /* Black text */
  --dark: var(--sky-12);                 /* Dark text */
}

:is(.dark) :where(.schema-sky)  {
  --background: var(--sky-12);           /* App background (-1) */
  --subtle-background: var(--sky-11);    /* Subtle background (-2) */
  --ui-background: var(--sky-10);        /* UI element background (-3) */
  --ui-hover-background: var(--sky-9);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--sky-8);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--sky-7);         /* Subtle borders and separators (-6) */
  --ui-border: var(--sky-6);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--sky-5);       /* Hovered UI element border (-8) */
  --solid-background: var(--sky-4);      /* Solid backgrounds (-9) */
  --solid-hover: var(--sky-3);           /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--sky-2);          /* Low-contrast text (-11) */
  --high-contrast: var(--sky-1);         /* High-contrast text (-12) */
}

:where(.is-sky) {
  color: var(--sky-12);
  background-color: var(--sky-9);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--sky-10);
  }
}

:is(.dark) :where(.is-sky) {
  color: var(--sky-12);
  background-color: var(--sky-4);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--sky-3);
  }
}

:where(.is-sky-color) {
  color: var(--sky-12);
}

:is(:dark) :where(.is-sky-color) {
  color: var(--sky-1);
}

:where(.is-sky-low-contrast) {
  color: var(--sky-11);
}

:is(.dark) :where(.is-sky-low-contrast) {
  color: var(--sky-2);
}

:where(.is-sky-high-contrast) {
  color: var(--sky-12);
}

:is(.dark) :where(.is-sky-high-contrast) {
  color: var(--sky-1);
}

:where(.is-sky-background) {
  background-color: var(--sky-1);
}

:is(.dark) :where(.is-sky-background) {
  background-color: var(--sky-12);
}

:where(.is-sky-subtle-background) {
  background-color: var(--sky-2);
}

:is(.dark) :where(.is-sky-subtle-background) {
  background-color: var(--sky-11);
}

:where(.is-sky-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--sky-3);

  &:hover {
    background-color: var(--sky-4);
  }
}

:is(.dark) :where(.is-sky-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--sky-10);

  &:hover {
    background-color: var(--sky-9);
  }
}

:where(.is-sky-ui-hover-background) {
  background-color: var(--sky-4);
}

:is(.dark) :where(.is-sky-ui-hover-background) {
  background-color: var(--sky-9);
}

:where(.is-sky-ui-active-background) {
  background-color: var(--sky-5);
}

:is(.dark) :where(.is-sky-ui-active-background) {
  background-color: var(--sky-8);
}

:where(.is-sky-subtle-element-background) {
  background-color: var(--sky-6);
}

:is(.dark) :where(.is-sky-subtle-element-background) {
  background-color: var(--sky-7);
}

:where(.is-sky-ui-element-background) {
  background-color: var(--sky-7);
}

:is(.dark) :where(.is-sky-ui-element-background) {
  background-color: var(--sky-6);
}

:where(.is-sky-ui-hover-background) {
  background-color: var(--sky-8);
}

:is(.dark) :where(.is-sky-ui-hover-background) {
  background-color: var(--sky-5);
}

:where(.is-sky-solid-background) {
  background-color: var(--sky-9);
}

:is(.dark) :where(.is-sky-solid-background) {
  background-color: var(--sky-4);
}

:where(.is-sky-hover-solid-background) {
  background-color: var(--sky-10);
}

:is(.dark) :where(.is-sky-hover-solid-background) {
  background-color: var(--sky-3);
}

:where(.is-sky-low-contrast-background) {
  background-color: var(--sky-11);
}

:is(.dark) :where(.is-sky-low-contrast-background) {
  background-color: var(--sky-2);
}

:where(.is-sky-high-contrast-background) {
  background-color: var(--sky-12);
}

:is(.dark) :where(.is-sky-high-contrast-background) {
  background-color: var(--sky-1);
}

:where(.is-sky-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--sky-7);
  border-color: var(--sky-7);

  &:hover {
    outline-color: var(--sky-8);
    border-color: var(--sky-8);
  }
}

:is(.dark) :where(.is-sky-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--sky-6);
  border-color: var(--sky-6);

  &:hover {
    outline-color: var(--sky-5);
    border-color: var(--sky-5);
  }
}
