:where(.schema-slate) {
  --background: var(--slate-1);            /* App background (-1) */
  --subtle-background: var(--slate-2);     /* Subtle background (-2) */
  --ui-background: var(--slate-3);         /* UI element background (-3) */
  --ui-hover-background: var(--slate-4);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--slate-5);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--slate-6);         /* Subtle borders and separators (-6) */
  --ui-border: var(--slate-7);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--slate-8);       /* Hovered UI element border (-8) */
  --solid-background: var(--slate-9);      /* Solid backgrounds (-9) */
  --solid-hover: var(--slate-10);          /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--slate-11);         /* Low-contrast text (-11) */
  --high-contrast: var(--slate-12);        /* High-contrast text (-12) */
  --light: var(--slate-1);                 /* Light text */
  --white: var(--slate-1);                 /* White text */
  --black: var(--slate-12);                /* Black text */
  --dark: var(--slate-12);                 /* Dark text */
}

:is(.dark) :where(.schema-slate)  {
  --background: var(--slate-12);           /* App background (-1) */
  --subtle-background: var(--slate-11);    /* Subtle background (-2) */
  --ui-background: var(--slate-10);        /* UI element background (-3) */
  --ui-hover-background: var(--slate-9);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--slate-8);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--slate-7);         /* Subtle borders and separators (-6) */
  --ui-border: var(--slate-6);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--slate-5);       /* Hovered UI element border (-8) */
  --solid-background: var(--slate-4);      /* Solid backgrounds (-9) */
  --solid-hover: var(--slate-3);           /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--slate-2);          /* Low-contrast text (-11) */
  --high-contrast: var(--slate-1);         /* High-contrast text (-12) */
}

:where(.is-slate) {
  color: var(--slate-1);
  background-color: var(--slate-9);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--slate-10);
  }
}

:is(.dark) :where(.is-slate) {
  color: var(--slate-1);
  background-color: var(--slate-4);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--slate-3);
  }
}

:where(.is-slate-color) {
  color: var(--slate-12);
}

:is(:dark) :where(.is-slate-color) {
  color: var(--slate-1);
}

:where(.is-slate-low-contrast) {
  color: var(--slate-11);
}

:is(.dark) :where(.is-slate-low-contrast) {
  color: var(--slate-2);
}

:where(.is-slate-high-contrast) {
  color: var(--slate-12);
}

:is(.dark) :where(.is-slate-high-contrast) {
  color: var(--slate-1);
}

:where(.is-slate-background) {
  background-color: var(--slate-1);
}

:is(.dark) :where(.is-slate-background) {
  background-color: var(--slate-12);
}

:where(.is-slate-subtle-background) {
  background-color: var(--slate-2);
}

:is(.dark) :where(.is-slate-subtle-background) {
  background-color: var(--slate-11);
}

:where(.is-slate-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--slate-3);

  &:hover {
    background-color: var(--slate-4);
  }
}

:is(.dark) :where(.is-slate-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--slate-10);

  &:hover {
    background-color: var(--slate-9);
  }
}

:where(.is-slate-ui-hover-background) {
  background-color: var(--slate-4);
}

:is(.dark) :where(.is-slate-ui-hover-background) {
  background-color: var(--slate-9);
}

:where(.is-slate-ui-active-background) {
  background-color: var(--slate-5);
}

:is(.dark) :where(.is-slate-ui-active-background) {
  background-color: var(--slate-8);
}

:where(.is-slate-subtle-element-background) {
  background-color: var(--slate-6);
}

:is(.dark) :where(.is-slate-subtle-element-background) {
  background-color: var(--slate-7);
}

:where(.is-slate-ui-element-background) {
  background-color: var(--slate-7);
}

:is(.dark) :where(.is-slate-ui-element-background) {
  background-color: var(--slate-6);
}

:where(.is-slate-ui-hover-background) {
  background-color: var(--slate-8);
}

:is(.dark) :where(.is-slate-ui-hover-background) {
  background-color: var(--slate-5);
}

:where(.is-slate-solid-background) {
  background-color: var(--slate-9);
}

:is(.dark) :where(.is-slate-solid-background) {
  background-color: var(--slate-4);
}

:where(.is-slate-hover-solid-background) {
  background-color: var(--slate-10);
}

:is(.dark) :where(.is-slate-hover-solid-background) {
  background-color: var(--slate-3);
}

:where(.is-slate-low-contrast-background) {
  background-color: var(--slate-11);
}

:is(.dark) :where(.is-slate-low-contrast-background) {
  background-color: var(--slate-2);
}

:where(.is-slate-high-contrast-background) {
  background-color: var(--slate-12);
}

:is(.dark) :where(.is-slate-high-contrast-background) {
  background-color: var(--slate-1);
}

:where(.is-slate-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--slate-7);
  border-color: var(--slate-7);

  &:hover {
    outline-color: var(--slate-8);
    border-color: var(--slate-8);
  }
}

:is(.dark) :where(.is-slate-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--slate-6);
  border-color: var(--slate-6);

  &:hover {
    outline-color: var(--slate-5);
    border-color: var(--slate-5);
  }
}
