:where(.schema-teal) {
  --background: var(--teal-1);            /* App background (-1) */
  --subtle-background: var(--teal-2);     /* Subtle background (-2) */
  --ui-background: var(--teal-3);         /* UI element background (-3) */
  --ui-hover-background: var(--teal-4);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--teal-5);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--teal-6);         /* Subtle borders and separators (-6) */
  --ui-border: var(--teal-7);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--teal-8);       /* Hovered UI element border (-8) */
  --solid-background: var(--teal-9);      /* Solid backgrounds (-9) */
  --solid-hover: var(--teal-10);          /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--teal-11);         /* Low-contrast text (-11) */
  --high-contrast: var(--teal-12);        /* High-contrast text (-12) */
  --light: var(--teal-1);                 /* Light text */
  --white: var(--teal-1);                 /* White text */
  --black: var(--teal-12);                /* Black text */
  --dark: var(--teal-12);                 /* Dark text */
}

:is(.dark) :where(.schema-teal)  {
  --background: var(--teal-12);           /* App background (-1) */
  --subtle-background: var(--teal-11);    /* Subtle background (-2) */
  --ui-background: var(--teal-10);        /* UI element background (-3) */
  --ui-hover-background: var(--teal-9);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--teal-8);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--teal-7);         /* Subtle borders and separators (-6) */
  --ui-border: var(--teal-6);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--teal-5);       /* Hovered UI element border (-8) */
  --solid-background: var(--teal-4);      /* Solid backgrounds (-9) */
  --solid-hover: var(--teal-3);           /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--teal-2);          /* Low-contrast text (-11) */
  --high-contrast: var(--teal-1);         /* High-contrast text (-12) */
}

:where(.is-teal) {
  color: var(--teal-1);
  background-color: var(--teal-9);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--teal-10);
  }
}

:is(.dark) :where(.is-teal) {
  color: var(--teal-1);
  background-color: var(--teal-4);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--teal-3);
  }
}

:where(.is-teal-color) {
  color: var(--teal-12);
}

:is(:dark) :where(.is-teal-color) {
  color: var(--teal-1);
}

:where(.is-teal-low-contrast) {
  color: var(--teal-11);
}

:is(.dark) :where(.is-teal-low-contrast) {
  color: var(--teal-2);
}

:where(.is-teal-high-contrast) {
  color: var(--teal-12);
}

:is(.dark) :where(.is-teal-high-contrast) {
  color: var(--teal-1);
}

:where(.is-teal-background) {
  background-color: var(--teal-1);
}

:is(.dark) :where(.is-teal-background) {
  background-color: var(--teal-12);
}

:where(.is-teal-subtle-background) {
  background-color: var(--teal-2);
}

:is(.dark) :where(.is-teal-subtle-background) {
  background-color: var(--teal-11);
}

:where(.is-teal-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--teal-3);

  &:hover {
    background-color: var(--teal-4);
  }
}

:is(.dark) :where(.is-teal-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--teal-10);

  &:hover {
    background-color: var(--teal-9);
  }
}

:where(.is-teal-ui-hover-background) {
  background-color: var(--teal-4);
}

:is(.dark) :where(.is-teal-ui-hover-background) {
  background-color: var(--teal-9);
}

:where(.is-teal-ui-active-background) {
  background-color: var(--teal-5);
}

:is(.dark) :where(.is-teal-ui-active-background) {
  background-color: var(--teal-8);
}

:where(.is-teal-subtle-element-background) {
  background-color: var(--teal-6);
}

:is(.dark) :where(.is-teal-subtle-element-background) {
  background-color: var(--teal-7);
}

:where(.is-teal-ui-element-background) {
  background-color: var(--teal-7);
}

:is(.dark) :where(.is-teal-ui-element-background) {
  background-color: var(--teal-6);
}

:where(.is-teal-ui-hover-background) {
  background-color: var(--teal-8);
}

:is(.dark) :where(.is-teal-ui-hover-background) {
  background-color: var(--teal-5);
}

:where(.is-teal-solid-background) {
  background-color: var(--teal-9);
}

:is(.dark) :where(.is-teal-solid-background) {
  background-color: var(--teal-4);
}

:where(.is-teal-hover-solid-background) {
  background-color: var(--teal-10);
}

:is(.dark) :where(.is-teal-hover-solid-background) {
  background-color: var(--teal-3);
}

:where(.is-teal-low-contrast-background) {
  background-color: var(--teal-11);
}

:is(.dark) :where(.is-teal-low-contrast-background) {
  background-color: var(--teal-2);
}

:where(.is-teal-high-contrast-background) {
  background-color: var(--teal-12);
}

:is(.dark) :where(.is-teal-high-contrast-background) {
  background-color: var(--teal-1);
}

:where(.is-teal-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--teal-7);
  border-color: var(--teal-7);

  &:hover {
    outline-color: var(--teal-8);
    border-color: var(--teal-8);
  }
}

:is(.dark) :where(.is-teal-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--teal-6);
  border-color: var(--teal-6);

  &:hover {
    outline-color: var(--teal-5);
    border-color: var(--teal-5);
  }
}
