:where(.schema-yellow) {
  --background: var(--yellow-1);            /* App background (-1) */
  --subtle-background: var(--yellow-2);     /* Subtle background (-2) */
  --ui-background: var(--yellow-3);         /* UI element background (-3) */
  --ui-hover-background: var(--yellow-4);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--yellow-5);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--yellow-6);         /* Subtle borders and separators (-6) */
  --ui-border: var(--yellow-7);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--yellow-8);       /* Hovered UI element border (-8) */
  --solid-background: var(--yellow-9);      /* Solid backgrounds (-9) */
  --solid-hover: var(--yellow-10);          /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--yellow-11);         /* Low-contrast text (-11) */
  --high-contrast: var(--yellow-12);        /* High-contrast text (-12) */
  --light: var(--yellow-1);                 /* Light text */
  --white: var(--yellow-1);                 /* White text */
  --black: var(--yellow-12);                /* Black text */
  --dark: var(--yellow-12);                 /* Dark text */
}

:is(.dark) :where(.schema-yellow)  {
  --background: var(--yellow-12);           /* App background (-1) */
  --subtle-background: var(--yellow-11);    /* Subtle background (-2) */
  --ui-background: var(--yellow-10);        /* UI element background (-3) */
  --ui-hover-background: var(--yellow-9);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--yellow-8);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--yellow-7);         /* Subtle borders and separators (-6) */
  --ui-border: var(--yellow-6);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--yellow-5);       /* Hovered UI element border (-8) */
  --solid-background: var(--yellow-4);      /* Solid backgrounds (-9) */
  --solid-hover: var(--yellow-3);           /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--yellow-2);          /* Low-contrast text (-11) */
  --high-contrast: var(--yellow-1);         /* High-contrast text (-12) */
}

:where(.is-yellow) {
  color: var(--yellow-12);
  background-color: var(--yellow-9);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--yellow-10);
  }
}

:is(.dark) :where(.is-yellow) {
  color: var(--yellow-12);
  background-color: var(--yellow-4);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--yellow-3);
  }
}

:where(.is-yellow-color) {
  color: var(--yellow-12);
}

:is(:dark) :where(.is-yellow-color) {
  color: var(--yellow-1);
}

:where(.is-yellow-low-contrast) {
  color: var(--yellow-11);
}

:is(.dark) :where(.is-yellow-low-contrast) {
  color: var(--yellow-2);
}

:where(.is-yellow-high-contrast) {
  color: var(--yellow-12);
}

:is(.dark) :where(.is-yellow-high-contrast) {
  color: var(--yellow-1);
}

:where(.is-yellow-background) {
  background-color: var(--yellow-1);
}

:is(.dark) :where(.is-yellow-background) {
  background-color: var(--yellow-12);
}

:where(.is-yellow-subtle-background) {
  background-color: var(--yellow-2);
}

:is(.dark) :where(.is-yellow-subtle-background) {
  background-color: var(--yellow-11);
}

:where(.is-yellow-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--yellow-3);

  &:hover {
    background-color: var(--yellow-4);
  }
}

:is(.dark) :where(.is-yellow-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--yellow-10);

  &:hover {
    background-color: var(--yellow-9);
  }
}

:where(.is-yellow-ui-hover-background) {
  background-color: var(--yellow-4);
}

:is(.dark) :where(.is-yellow-ui-hover-background) {
  background-color: var(--yellow-9);
}

:where(.is-yellow-ui-active-background) {
  background-color: var(--yellow-5);
}

:is(.dark) :where(.is-yellow-ui-active-background) {
  background-color: var(--yellow-8);
}

:where(.is-yellow-subtle-element-background) {
  background-color: var(--yellow-6);
}

:is(.dark) :where(.is-yellow-subtle-element-background) {
  background-color: var(--yellow-7);
}

:where(.is-yellow-ui-element-background) {
  background-color: var(--yellow-7);
}

:is(.dark) :where(.is-yellow-ui-element-background) {
  background-color: var(--yellow-6);
}

:where(.is-yellow-ui-hover-background) {
  background-color: var(--yellow-8);
}

:is(.dark) :where(.is-yellow-ui-hover-background) {
  background-color: var(--yellow-5);
}

:where(.is-yellow-solid-background) {
  background-color: var(--yellow-9);
}

:is(.dark) :where(.is-yellow-solid-background) {
  background-color: var(--yellow-4);
}

:where(.is-yellow-hover-solid-background) {
  background-color: var(--yellow-10);
}

:is(.dark) :where(.is-yellow-hover-solid-background) {
  background-color: var(--yellow-3);
}

:where(.is-yellow-low-contrast-background) {
  background-color: var(--yellow-11);
}

:is(.dark) :where(.is-yellow-low-contrast-background) {
  background-color: var(--yellow-2);
}

:where(.is-yellow-high-contrast-background) {
  background-color: var(--yellow-12);
}

:is(.dark) :where(.is-yellow-high-contrast-background) {
  background-color: var(--yellow-1);
}

:where(.is-yellow-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--yellow-7);
  border-color: var(--yellow-7);

  &:hover {
    outline-color: var(--yellow-8);
    border-color: var(--yellow-8);
  }
}

:is(.dark) :where(.is-yellow-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--yellow-6);
  border-color: var(--yellow-6);

  &:hover {
    outline-color: var(--yellow-5);
    border-color: var(--yellow-5);
  }
}
