.light {
    .is-gray {
        color: var(--gray-dark-12);
        background-color: var(--gray-light-9);
    }

    .is-gray-background {
      background-color: var(--gray-light-1);
    }

    .is-gray-subtle-background {
      background-color: var(--gray-light-2);
    }

    .is-gray-ui-background {
      background-color: var(--gray-light-3);
    }

    .is-gray-hover-background {
      background-color: var(--gray-light-4);
    }

    .is-gray-active-background {
      background-color: var(--gray-light-5);
    }

    .is-gray-subtle-element-background {
      background-color: var(--gray-light-6);
    }

    .is-gray-ui-element-background {
      background-color: var(--gray-light-7);
    }

    .is-gray-ui-hover-background {
      background-color: var(--gray-light-8);
    }

    .is-gray-solid-background {
      background-color: var(--gray-light-9);
    }

    .is-gray-hover-solid-background {
      background-color: var(--gray-light-10);
    }

    .is-gray-low-contrast-background {
      background-color: var(--gray-light-11);
    }

    .is-gray-high-contrast-background {
      background-color: var(--gray-light-12);
    }

    .is-gray-border {
        outline-color: var(--gray-light-7);
        border-color: var(--gray-light-7);
    }

    .is-red {
        color: var(--red-dark-12);
        background-color: var(--red-light-9);
    }

    .is-red-background {
      background-color: var(--red-light-1);
    }

    .is-red-subtle-background {
      background-color: var(--red-light-2);
    }

    .is-red-ui-background {
      background-color: var(--red-light-3);
    }

    .is-red-hover-background {
      background-color: var(--red-light-4);
    }

    .is-red-active-background {
      background-color: var(--red-light-5);
    }

    .is-red-subtle-element-background {
      background-color: var(--red-light-6);
    }

    .is-red-ui-element-background {
      background-color: var(--red-light-7);
    }

    .is-red-ui-hover-background {
      background-color: var(--red-light-8);
    }

    .is-red-solid-background {
      background-color: var(--red-light-9);
    }

    .is-red-hover-solid-background {
      background-color: var(--red-light-10);
    }

    .is-red-low-contrast-background {
      background-color: var(--red-light-11);
    }

    .is-red-high-contrast-background {
      background-color: var(--red-light-12);
    }

    .is-red-border {
        outline-color: var(--red-light-7);
        border-color: var(--red-light-7);
    }

    .is-mauve {
        color: var(--mauve-dark-12);
        background-color: var(--mauve-light-9);
    }

    .is-mauve-border {
        outline-color: var(--mauve-light-7);
        border-color: var(--mauve-light-7);
    }

    .is-slate {
        color: var(--slate-dark-12);
        background-color: var(--slate-light-9);
    }

    .is-slate-border {
        outline-color: var(--slate-light-7);
        border-color: var(--slate-light-7);
    }

    .is-sage {
        color: var(--sage-dark-12);
        background-color: var(--sage-light-9);
    }

    .is-sage-border {
        outline-color: var(--sage-light-7);
        border-color: var(--sage-light-7);
    }

    .is-olive {
        color: var(--olive-dark-12);
        background-color: var(--olive-light-9);
    }

    .is-olive-border {
        outline-color: var(--olive-light-7);
        border-color: var(--olive-light-7);
    }

    .is-sand {
        color: var(--sand-dark-12);
        background-color: var(--sand-light-9);
    }

    .is-sand-border {
        outline-color: var(--sand-light-7);
        border-color: var(--sand-light-7);
    }

    .is-tomato {
        color: var(--tomato-dark-12);
        background-color: var(--tomato-light-9);
    }

    .is-tomato-border {
        outline-color: var(--tomato-light-7);
        border-color: var(--tomato-light-7);
    }

    .is-crimson {
        color: var(--crimson-dark-12);
        background-color: var(--crimson-light-9);
    }

    .is-crimson-border {
        outline-color: var(--crimson-light-7);
        border-color: var(--crimson-light-7);
    }

    .is-pink {
        color: var(--pink-dark-12);
        background-color: var(--pink-light-9);
    }

    .is-pink-border {
        outline-color: var(--pink-light-7);
        border-color: var(--pink-light-7);
    }

    .is-plum {
        color: var(--plum-dark-12);
        background-color: var(--plum-light-9);
    }

    .is-plum-border {
        outline-color: var(--plum-light-7);
        border-color: var(--plum-light-7);
    }

    .is-purple {
        color: var(--purple-dark-12);
        background-color: var(--purple-light-9);
    }

    .is-purple-border {
        outline-color: var(--purple-light-7);
        border-color: var(--purple-light-7);
    }

    .is-violet {
        color: var(--violet-dark-12);
        background-color: var(--violet-light-9);
    }

    .is-violet-border {
        outline-color: var(--violet-light-7);
        border-color: var(--violet-light-7);
    }

    .is-indigo {
        color: var(--indigo-dark-12);
        background-color: var(--indigo-light-9);
    }

    .is-indigo-border {
        outline-color: var(--indigo-light-7);
        border-color: var(--indigo-light-7);
    }

    .is-blue {
        color: var(--blue-dark-12);
        background-color: var(--blue-light-9);
    }

    .is-blue-border {
        outline-color: var(--blue-light-7);
        border-color: var(--blue-light-7);
    }

    .is-cyan {
        color: var(--cyan-dark-12);
        background-color: var(--cyan-light-9);
    }

    .is-cyan-border {
        outline-color: var(--cyan-light-7);
        border-color: var(--cyan-light-7);
    }

    .is-teal {
        color: var(--teal-dark-12);
        background-color: var(--teal-light-9);
    }

    .is-teal-border {
        outline-color: var(--teal-light-7);
        border-color: var(--teal-light-7);
    }

    .is-green {
        color: var(--green-dark-12);
        background-color: var(--green-light-9);
    }

    .is-green-border {
        outline-color: var(--green-light-7);
        border-color: var(--green-light-7);
    }

    .is-grass {
        color: var(--grass-dark-12);
        background-color: var(--grass-light-9);
    }

    .is-grass-border {
        outline-color: var(--grass-light-7);
        border-color: var(--grass-light-7);
    }

    .is-brown {
        color: var(--brown-dark-12);
        background-color: var(--brown-light-9);
    }

    .is-brown-border {
        outline-color: var(--brown-light-7);
        border-color: var(--brown-light-7);
    }

    .is-bronze {
        color: var(--bronze-dark-12);
        background-color: var(--bronze-light-9);
    }

    .is-bronze-border {
        outline-color: var(--bronze-light-7);
        border-color: var(--bronze-light-7);
    }

    .is-gold {
        color: var(--gold-dark-12);
        background-color: var(--gold-light-9);
    }

    .is-gold-border {
        outline-color: var(--gold-light-7);
        border-color: var(--gold-light-7);
    }

    .is-sky {
        color: var(--sky-light-12);
        background-color: var(--sky-light-9);
    }

    .is-sky-border {
        outline-color: var(--sky-light-7);
        border-color: var(--sky-light-7);
    }

    .is-mint {
        color: var(--mint-light-12);
        background-color: var(--mint-light-9);
    }

    .is-mint-border {
        outline-color: var(--mint-light-7);
        border-color: var(--mint-light-7);
    }

    .is-lime {
        color: var(--lime-light-12);
        background-color: var(--lime-light-9);
    }

    .is-lime-border {
        outline-color: var(--lime-light-7);
        border-color: var(--lime-light-7);
    }

    .is-yellow {
        color: var(--yellow-light-12);
        background-color: var(--yellow-light-9);
    }

    .is-yellow-border {
        outline-color: var(--yellow-light-7);
        border-color: var(--yellow-light-7);
    }

    .is-amber {
        color: var(--amber-light-12);
        background-color: var(--amber-light-9);
    }

    .is-amber-border {
        outline-color: var(--amber-light-7);
        border-color: var(--amber-light-7);
    }

    .is-orange {
        color: var(--orange-dark-12);
        background-color: var(--orange-light-9);
    }

    .is-orange-border {
        outline-color: var(--orange-light-7);
        border-color: var(--orange-light-7);
    }
}

.dark {
    .is-gray {
        color: var(--gray-dark-12);
        background-color: var(--gray-dark-9);
    }

    .is-gray-background {
      background-color: var(--gray-dark-1);
    }

    .is-gray-subtle-background {
      background-color: var(--gray-dark-2);
    }

    .is-gray-ui-background {
      background-color: var(--gray-dark-3);
    }

    .is-gray-hover-background {
      background-color: var(--gray-dark-4);
    }

    .is-gray-active-background {
      background-color: var(--gray-dark-5);
    }

    .is-gray-subtle-element-background {
      background-color: var(--gray-dark-6);
    }

    .is-gray-ui-element-background {
      background-color: var(--gray-dark-7);
    }

    .is-gray-ui-hover-background {
      background-color: var(--gray-dark-8);
    }

    .is-gray-solid-background {
      background-color: var(--gray-dark-9);
    }

    .is-gray-hover-solid-background {
      background-color: var(--gray-dark-10);
    }

    .is-gray-low-contrast-background {
      background-color: var(--gray-dark-11);
    }

    .is-gray-high-contrast-background {
      background-color: var(--gray-dark-12);
    }

    .is-gray-border {
        outline-color: var(--gray-dark-7);
        border-color: var(--gray-dark-7);
    }

    .is-red {
        color: var(--red-dark-12);
        background-color: var(--red-dark-9);
    }

    .is-red-background {
      background-color: var(--red-dark-1);
    }

    .is-red-subtle-background {
      background-color: var(--red-dark-2);
    }

    .is-red-ui-background {
      background-color: var(--red-dark-3);
    }

    .is-red-hover-background {
      background-color: var(--red-dark-4);
    }

    .is-red-active-background {
      background-color: var(--red-dark-5);
    }

    .is-red-subtle-element-background {
      background-color: var(--red-dark-6);
    }

    .is-red-ui-element-background {
      background-color: var(--red-dark-7);
    }

    .is-red-ui-hover-background {
      background-color: var(--red-dark-8);
    }

    .is-red-solid-background {
      background-color: var(--red-dark-9);
    }

    .is-red-hover-solid-background {
      background-color: var(--red-dark-10);
    }

    .is-red-low-contrast-background {
      background-color: var(--red-dark-11);
    }

    .is-red-high-contrast-background {
      background-color: var(--red-dark-12);
    }

    .is-red-border {
        outline-color: var(--red-dark-7);
        border-color: var(--red-dark-7);
    }

    .is-mauve {
        color: var(--mauve-dark-12);
        background-color: var(--mauve-dark-9);
    }

    .is-mauve-border {
        outline-color: var(--mauve-dark-7);
        border-color: var(--mauve-dark-7);
    }

    .is-slate {
        color: var(--slate-dark-12);
        background-color: var(--slate-dark-9);
    }

    .is-slate-border {
        outline-color: var(--slate-dark-7);
        border-color: var(--slate-dark-7);
    }

    .is-sage {
        color: var(--sage-dark-12);
        background-color: var(--sage-dark-9);
    }

    .is-sage-border {
        outline-color: var(--sage-dark-7);
        border-color: var(--sage-dark-7);
    }

    .is-olive {
        color: var(--olive-dark-12);
        background-color: var(--olive-dark-9);
    }

    .is-olive-border {
        outline-color: var(--olive-dark-7);
        border-color: var(--olive-dark-7);
    }

    .is-sand {
        color: var(--sand-dark-12);
        background-color: var(--sand-dark-9);
    }

    .is-sand-border {
        outline-color: var(--sand-dark-7);
        border-color: var(--sand-dark-7);
    }

    .is-tomato {
        color: var(--tomato-dark-12);
        background-color: var(--tomato-dark-9);
    }

    .is-tomato-border {
        outline-color: var(--tomato-dark-7);
        border-color: var(--tomato-dark-7);
    }

    .is-crimson {
        color: var(--crimson-dark-12);
        background-color: var(--crimson-dark-9);
    }

    .is-crimson-border {
        outline-color: var(--crimson-dark-7);
        border-color: var(--crimson-dark-7);
    }

    .is-pink {
        color: var(--pink-dark-12);
        background-color: var(--pink-dark-9);
    }

    .is-pink-border {
        outline-color: var(--pink-dark-7);
        border-color: var(--pink-dark-7);
    }

    .is-plum {
        color: var(--plum-dark-12);
        background-color: var(--plum-dark-9);
    }

    .is-plum-border {
        outline-color: var(--plum-dark-7);
        border-color: var(--plum-dark-7);
    }

    .is-purple {
        color: var(--purple-dark-12);
        background-color: var(--purple-dark-9);
    }

    .is-purple-border {
        outline-color: var(--purple-dark-7);
        border-color: var(--purple-dark-7);
    }

    .is-violet {
        color: var(--violet-dark-12);
        background-color: var(--violet-dark-9);
    }

    .is-violet-border {
        outline-color: var(--violet-dark-7);
        border-color: var(--violet-dark-7);
    }

    .is-indigo {
        color: var(--indigo-dark-12);
        background-color: var(--indigo-dark-9);
    }

    .is-indigo-border {
        outline-color: var(--indigo-dark-7);
        border-color: var(--indigo-dark-7);
    }

    .is-blue {
        color: var(--blue-dark-12);
        background-color: var(--blue-dark-9);
    }

    .is-blue-border {
        outline-color: var(--blue-dark-7);
        border-color: var(--blue-dark-7);
    }

    .is-cyan {
        color: var(--cyan-dark-12);
        background-color: var(--cyan-dark-9);
    }

    .is-cyan-border {
        outline-color: var(--cyan-dark-7);
        border-color: var(--cyan-dark-7);
    }

    .is-teal {
        color: var(--teal-dark-12);
        background-color: var(--teal-dark-9);
    }

    .is-teal-border {
        outline-color: var(--teal-dark-7);
        border-color: var(--teal-dark-7);
    }

    .is-green {
        color: var(--green-dark-12);
        background-color: var(--green-dark-9);
    }

    .is-green-border {
        outline-color: var(--green-dark-7);
        border-color: var(--green-dark-7);
    }

    .is-grass {
        color: var(--grass-dark-12);
        background-color: var(--grass-dark-9);
    }

    .is-grass-border {
        outline-color: var(--grass-dark-7);
        border-color: var(--grass-dark-7);
    }

    .is-brown {
        color: var(--brown-dark-12);
        background-color: var(--brown-dark-9);
    }

    .is-brown-border {
        outline-color: var(--brown-dark-7);
        border-color: var(--brown-dark-7);
    }

    .is-bronze {
        color: var(--bronze-dark-12);
        background-color: var(--bronze-dark-9);
    }

    .is-bronze-border {
        outline-color: var(--bronze-dark-7);
        border-color: var(--bronze-dark-7);
    }

    .is-gold {
        color: var(--gold-dark-12);
        background-color: var(--gold-dark-9);
    }

    .is-gold-border {
        outline-color: var(--gold-dark-7);
        border-color: var(--gold-dark-7);
    }

    .is-sky {
        color: var(--sky-light-12);
        background-color: var(--sky-dark-9);
    }

    .is-sky-border {
        outline-color: var(--sky-dark-7);
        border-color: var(--sky-dark-7);
    }

    .is-mint {
        color: var(--mint-light-12);
        background-color: var(--mint-dark-9);
    }

    .is-mint-border {
        outline-color: var(--mint-dark-7);
        border-color: var(--mint-dark-7);
    }

    .is-lime {
        color: var(--lime-light-12);
        background-color: var(--lime-dark-9);
    }

    .is-lime-border {
        outline-color: var(--lime-dark-7);
        border-color: var(--lime-dark-7);
    }

    .is-yellow {
        color: var(--yellow-light-12);
        background-color: var(--yellow-dark-9);
    }

    .is-yellow-border {
        outline-color: var(--yellow-dark-7);
        border-color: var(--yellow-dark-7);
    }

    .is-amber {
        color: var(--amber-light-12);
        background-color: var(--amber-dark-9);
    }

    .is-amber-border {
        outline-color: var(--amber-dark-7);
        border-color: var(--amber-dark-7);
    }

    .is-orange {
        color: var(--orange-dark-12);
        background-color: var(--orange-dark-9);
    }

    .is-orange-border {
        outline-color: var(--orange-dark-7);
        border-color: var(--orange-dark-7);
    }
}

/*
.is-white {
  background-color: theme('colors.white');
  color: theme('colors.white-contrast');
}

.is-black {
  background-color: theme('colors.black');
  color: theme('colors.black-contrast');
}

.is-light {
  background-color: theme('colors.light');
  color: theme('colors.light-contrast');
}

.is-dark {
  background-color: theme('colors.dark');
  color: theme('colors.dark-contrast');
}

.is-primary {
  background-color: theme('colors.primary');
  color: theme('colors.primary-contrast');
}

.is-primary-dark {
  background-color: theme('colors.primary-dark');
  color: theme('colors.primary-dark-contrast');
}

.is-primary-light {
  background-color: theme('colors.primary-light');
  color: theme('colors.primary-light-contrast');
}

.is-info {
  background-color: theme('colors.info');
  color: theme('colors.info-contrast');
}

.is-info-dark {
  background-color: theme('colors.info-dark');
  color: theme('colors.info-dark-contrast');
}

.is-info-light {
  background-color: theme('colors.info-light');
  color: theme('colors.info-light-contrast');
}

.is-error {
  background-color: theme('colors.error');
  color: theme('colors.error-contrast');
}

.is-error-dark {
  background-color: theme('colors.error-dark');
  color: theme('colors.error-dark-contrast');
}

.is-error-light {
  background-color: theme('colors.error-light');
  color: theme('colors.error-light-contrast');
}

.is-danger {
  background-color: theme('colors.danger');
  color: theme('colors.danger-contrast');
}

.is-danger-dark {
  background-color: theme('colors.danger-dark');
  color: theme('colors.danger-dark-contrast');
}

.is-danger-light {
  background-color: theme('colors.danger-light');
  color: theme('colors.danger-light-contrast');
}

.is-warning {
  background-color: theme('colors.warning');
  color: theme('colors.warning-contrast');
}

.is-warning-dark {
  background-color: theme('colors.warning-dark');
  color: theme('colors.warning-dark-contrast');
}

.is-warning-light {
  background-color: theme('colors.warning-light');
  color: theme('colors.warning-light-contrast');
}

.is-success {
  background-color: theme('colors.success');
  color: theme('colors.success-contrast');
}

.is-success-dark {
  background-color: theme('colors.success-dark');
  color: theme('colors.success-dark-contrast');
}

.is-success-light {
  background-color: theme('colors.success-light');
  color: theme('colors.success-light-contrast');
}

.is-grey {
  background-color: theme('colors.grey');
  color: theme('colors.grey-contrast');
}

.is-grey-dark {
  background-color: theme('colors.grey-dark');
  color: theme('colors.grey-dark-contrast');
}

.is-grey-light {
  background-color: theme('colors.grey-light');
  color: theme('colors.grey-light-contrast');
}

.is-tertiary {
  background-color: theme('colors.tertiary');
  color: theme('colors.tertiary-contrast');
}

.is-tertiary-dark {
  background-color: theme('colors.tertiary-dark');
  color: theme('colors.tertiary-dark-contrast');
}

.is-tertiary-light {
  background-color: theme('colors.tertiary-light');
  color: theme('colors.tertiary-light-contrast');
}

.is-secondary {
  background-color: theme('colors.secondary');
  color: theme('colors.secondary-contrast');
}

.is-secondary-dark {
  background-color: theme('colors.secondary-dark');
  color: theme('colors.secondary-dark-contrast');
}

.is-secondary-light {
  background-color: theme('colors.secondary-light');
  color: theme('colors.secondary-light-contrast');
}

.has-text-white {
  color: theme('colors.white');
}

.has-text-black {
  color: theme('colors.black');
}

.has-text-light {
  color: theme('colors.light');
}

.has-text-dark {
  color: theme('colors.dark');
}

.has-text-primary {
  color: theme('colors.primary');
}

.has-text-primary-dark {
  color: theme('colors.primary-dark');
}

.has-text-primary-light {
  color: theme('colors.primary-light');
}

.has-text-info {
  color: theme('colors.info');
}

.has-text-info-dark {
  color: theme('colors.info-dark');
}

.has-text-info-light {
  color: theme('colors.info-light');
}

.has-text-success {
  color: theme('colors.success');
}

.has-text-success-dark {
  color: theme('colors.success-dark');
}

.has-text-success-light {
  color: theme('colors.success-light');
}

.has-text-warning {
  color: theme('colors.warning');
}

.has-text-warning-dark {
  color: theme('colors.warning-dark');
}

.has-text-warning-light {
  color: theme('colors.warning-light');
}

.has-text-danger {
  color: theme('colors.danger');
}

.has-text-danger-dark {
  color: theme('colors.danger-dark');
}

.has-text-danger-light {
  color: theme('colors.danger-light');
}

.has-text-tertiary {
  color: theme('colors.tertiary');
}

.has-text-tertiary-dark {
  color: theme('colors.tertiary-dark');
}

.has-text-tertiary-light {
  color: theme('colors.tertiary-light');
}

.has-text-error {
  color: theme('colors.error');
}

.has-text-error-dark {
  color: theme('colors.error-dark');
}

.has-text-error-light {
  color: theme('colors.error-light');
}

.has-text-grey {
  color: theme('colors.grey');
}

.has-text-grey-dark {
  color: theme('colors.grey-dark');
}

.has-text-grey-light {
  color: theme('colors.grey-light');
}
*/
