:root {
  color-scheme: light dark;
}

body {
  background: var(--background);
  color: var(--high-contrast);
}

.dark {
  color-scheme: dark;
}

.light {
  color-scheme: light;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.debug {
  outline: 1px solid red;
}
