:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  :root {
    --color: theme('colors.black');
    --background-color: theme('colors.white');
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: theme('colors.white');
    --background-color: theme('colors.black');
  }
}

.dark {
  color-scheme: dark;
}

.light {
  color-scheme: light;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.debug {
  outline: 1px solid red;
}
