.is-rounded {
  @apply rounded;

  &-sm {
    @apply rounded-sm;
  }

  &-md {
    @apply rounded-md;
  }

  &-lg {
    @apply rounded-lg;
  }

  &-xl {
    @apply rounded-xl;
  }

  &-big {
    @apply rounded-2xl;
  }

  &-bigger {
    @apply rounded-3xl;
  }

  &-full {
    @apply rounded-full;
  }
}

.carousel {
  display: flex;

  &-container {
    scroll-snap-type: x mandatory;
  }

  &-slides {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}

.is-tiny {
  height: 1rem;
  font-size: .6rem;
  padding: 0.1rem;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.shadown-current-color {
  box-shadow: 0 1px 2px color-mix(in srgb, transparent 35%, currentColor);
}

.tabular-numbers {
  font-variant-numeric: tabular-nums;
}
