.button-props {
  --button-color-opacity: 1;
  --button-background-opacity: 1;
  --button-padding-y: theme('padding.2');
  --button-padding-x: theme('padding.4');
  --button-margin-y: 0;
  --button-margin-x: 0;
  --button-border-width: 1px;
}

.switch-props {
  --switch-width: 60px;
  --switch-height: 30px;
  --switch-button-width: 24px;
  --switch-button-height: 24px;
  --switch-button-radius: 20px;
  --switch-bar-radius: 300px;
  --switch-padding-y: 0;
  --switch-padding-x: theme('padding.1');
  --switch-color: theme('colors.grey');
  --switch-bar-background: theme('colors.grey-dark');
  --switch-button-on-background: theme('colors.white');
  --switch-button-off-background: theme('colors.grey');
  --swicth-label-font-size: calc(var(--switch-height) - 10px);
  --switch-button-transform: translate(calc(var(--switch-width) - 22px));
  --switch-transition: .4s;
  --switch-button-left: 3px;
  --switch-button-bottom: 3px;
}

.checkbox-props {
  --checkbox-checked-color: theme('colors.grey-dark');
  --checkbox-background-color: theme('colors.white');
  --checkbox-hover-color: theme('colors.grey-dark');
  --checkbox-diameter: 20px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: theme('colors.grey');;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  --checkbox-checkmark-size: 1.2;
}
