@layer components {
  .vui-card {
    --vui-card-background-color: theme('colors.white');
    --vui-card-body-padding: theme('padding.4');
    --vui-card-header-padding: theme('padding.4');
    --vui-card-footer-padding: theme('padding.4');
    --vui-card-border-color: theme('colors.gray.200');
    --vui-card-header-background-color: theme('colors.gray.50');
    --vui-card-footer-background-color: theme('colors.gray.50');
    --vui-card-media-min-height: theme('height.56');
    --vui-card-media-padding: theme('padding.4');
    --vui-card-type-border-height: 8px;
    --vui-card-type-color-info: var(--vui-color-info);
    --vui-card-type-color-success: var(--vui-color-success);
    --vui-card-type-color-error: var(--vui-color-error);
    --vui-card-type-color-warning: var(--vui-color-warning);

    @apply overflow-hidden text-gray-900;
    background-color: var(--vui-card-background-color);

    &__info,
    &__success,
    &__warning,
    &__error {
      border-top-width: var(--vui-card-type-border-height);
    }

    &__info {
      border-color: var(--vui-card-type-color-info);
    }

    &__success {
      border-color: var(--vui-card-type-color-success);
    }

    &__warning {
      border-color: var(--vui-card-type-color-warning);
    }

    &__error {
      border-color: var(--vui-card-type-color-error);
    }

    &__header {
      @apply border-b;
      padding: var(--vui-card-header-padding);
      border-color: var(--vui-card-border-color);
      background-color: var(--vui-card-header-background-color);
    }

    &__title {
      @apply text-3xl;
    }

    &__media {
      @apply bg-cover bg-center;
      padding: var(--vui-card-media-padding);
      min-height: var(--vui-card-media-min-height);
    }

    &__body {
      padding: var(--vui-card-body-padding);
    }

    &__footer {
      @apply border-t;
      padding: var(--vui-card-footer-padding);
      border-color: var(--vui-card-border-color);
      background-color: var(--vui-card-footer-background-color);
    }

    &--border {
      outline: 1px solid var(--vui-card-border-color);
    }
  }

  .vui-card--shadow-sm {
    @apply shadow-sm;
  }

  .vui-card--shadow-md {
    @apply shadow-md;
  }

  .vui-card--shadow-lg {
    @apply shadow-lg;
  }

  .vui-card--shadow-xl {
    @apply shadow-xl;
  }

  .vui-card--shadow-2xl {
    @apply shadow-2xl;
  }

  .vui-card--shadow-none {
    @apply shadow-none;
  }

  .vui-card--round-none {
    @apply rounded-none;
  }

  .vui-card--round-sm {
    @apply rounded-sm;
  }

  .vui-card--round-md {
    @apply rounded-md;
  }

  .vui-card--round-lg {
    @apply rounded-lg;
  }

  .vui-card--round-xl {
    @apply rounded-xl;
  }

  .vui-card--round-2xl {
    @apply rounded-2xl;
  }

  .vui-card--round-3xl {
    @apply rounded-3xl;
  }

  .vui-card--round-full {
    @apply rounded-full;
  }
}
