@tailwind utilities;
@tailwind components;

@layer components {
  :host {
    @apply limiter-props flex;
  }

  :host-context(html.dark) {
    @apply limiter-props-dark;
  }

  :host-context(html.light) {
    @apply limiter-props-light;
  }

  .ui-limiter-container {
    flex: 1;
    height: var(--limiter-size);
    outline-width: var(--limiter-outline-width);
    outline-style: var(--limiter-outline-style);
    outline-color: var(--limiter-outline-color);
    @apply flex flex-wrap justify-between overflow-hidden outline rounded-md relative;
  }

  .ui-limiter-bar {
    background-color: var(--limiter-bar-color);
    height: 100%;
    transition: 0.1s ease-in-out;
    @apply absolute;
  }

  .ui-limiter-value {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    @apply absolute inline-block right-1;
  }

  #drag {
    width: var(--limiter-size);
    color: var(--limiter-drag-color);
    z-index: 1;
    @apply absolute inline-block cursor-pointer;
  }
}
