.ui-scale-gold {
  :nth-child(1) {
    display: flex;
    align-items: center;
  }

  :nth-child(2) {
    background: var(--gold-1);
    box-shadow: var(--shadow-3);
  }

  :nth-child(3) {
    background: var(--gold-2);
    box-shadow: var(--shadow-3);
  }

  :nth-child(4) {
    background: var(--gold-3);
    box-shadow: var(--shadow-3);
  }

  :nth-child(5) {
    background: var(--gold-4);
    box-shadow: var(--shadow-3);
  }

  :nth-child(6) {
    background: var(--gold-5);
    box-shadow: var(--shadow-3);
  }

  :nth-child(7) {
    background: var(--gold-6);
    box-shadow: var(--shadow-3);
  }

  :nth-child(8) {
    background: var(--gold-7);
    box-shadow: var(--shadow-3);
  }

  :nth-child(9) {
    background: var(--gold-8);
    box-shadow: var(--shadow-3);
  }

  :nth-child(10) {
    background: var(--gold-9);
    box-shadow: var(--shadow-3);
  }

  :nth-child(11) {
    background: var(--gold-10);
    box-shadow: var(--shadow-3);
  }

  :nth-child(12) {
    background: var(--gold-11);
    box-shadow: var(--shadow-3);
  }

  :nth-child(13) {
    background: var(--gold-12);
    box-shadow: var(--shadow-3);
  }
}
