.ui-scale-grass {
  :nth-child(1) {
    display: flex;
    align-items: center;
  }

  :nth-child(2) {
    background: var(--grass-1);
    box-shadow: var(--shadow-3);
  }

  :nth-child(3) {
    background: var(--grass-2);
    box-shadow: var(--shadow-3);
  }

  :nth-child(4) {
    background: var(--grass-3);
    box-shadow: var(--shadow-3);
  }

  :nth-child(5) {
    background: var(--grass-4);
    box-shadow: var(--shadow-3);
  }

  :nth-child(6) {
    background: var(--grass-5);
    box-shadow: var(--shadow-3);
  }

  :nth-child(7) {
    background: var(--grass-6);
    box-shadow: var(--shadow-3);
  }

  :nth-child(8) {
    background: var(--grass-7);
    box-shadow: var(--shadow-3);
  }

  :nth-child(9) {
    background: var(--grass-8);
    box-shadow: var(--shadow-3);
  }

  :nth-child(10) {
    background: var(--grass-9);
    box-shadow: var(--shadow-3);
  }

  :nth-child(11) {
    background: var(--grass-10);
    box-shadow: var(--shadow-3);
  }

  :nth-child(12) {
    background: var(--grass-11);
    box-shadow: var(--shadow-3);
  }

  :nth-child(13) {
    background: var(--grass-12);
    box-shadow: var(--shadow-3);
  }
}
