.ui-scale-lime {
  :nth-child(1) {
    display: flex;
    align-items: center;
  }

  :nth-child(2) {
    background: var(--lime-1);
    box-shadow: var(--shadow-3);
  }

  :nth-child(3) {
    background: var(--lime-2);
    box-shadow: var(--shadow-3);
  }

  :nth-child(4) {
    background: var(--lime-3);
    box-shadow: var(--shadow-3);
  }

  :nth-child(5) {
    background: var(--lime-4);
    box-shadow: var(--shadow-3);
  }

  :nth-child(6) {
    background: var(--lime-5);
    box-shadow: var(--shadow-3);
  }

  :nth-child(7) {
    background: var(--lime-6);
    box-shadow: var(--shadow-3);
  }

  :nth-child(8) {
    background: var(--lime-7);
    box-shadow: var(--shadow-3);
  }

  :nth-child(9) {
    background: var(--lime-8);
    box-shadow: var(--shadow-3);
  }

  :nth-child(10) {
    background: var(--lime-9);
    box-shadow: var(--shadow-3);
  }

  :nth-child(11) {
    background: var(--lime-10);
    box-shadow: var(--shadow-3);
  }

  :nth-child(12) {
    background: var(--lime-11);
    box-shadow: var(--shadow-3);
  }

  :nth-child(13) {
    background: var(--lime-12);
    box-shadow: var(--shadow-3);
  }
}
