.ui-scale-olive {
  :nth-child(1) {
    display: flex;
    align-items: center;
  }

  :nth-child(2) {
    background: var(--olive-1);
    box-shadow: var(--shadow-3);
  }

  :nth-child(3) {
    background: var(--olive-2);
    box-shadow: var(--shadow-3);
  }

  :nth-child(4) {
    background: var(--olive-3);
    box-shadow: var(--shadow-3);
  }

  :nth-child(5) {
    background: var(--olive-4);
    box-shadow: var(--shadow-3);
  }

  :nth-child(6) {
    background: var(--olive-5);
    box-shadow: var(--shadow-3);
  }

  :nth-child(7) {
    background: var(--olive-6);
    box-shadow: var(--shadow-3);
  }

  :nth-child(8) {
    background: var(--olive-7);
    box-shadow: var(--shadow-3);
  }

  :nth-child(9) {
    background: var(--olive-8);
    box-shadow: var(--shadow-3);
  }

  :nth-child(10) {
    background: var(--olive-9);
    box-shadow: var(--shadow-3);
  }

  :nth-child(11) {
    background: var(--olive-10);
    box-shadow: var(--shadow-3);
  }

  :nth-child(12) {
    background: var(--olive-11);
    box-shadow: var(--shadow-3);
  }

  :nth-child(13) {
    background: var(--olive-12);
    box-shadow: var(--shadow-3);
  }
}
