.ui-scale-orange {
  :nth-child(1) {
    display: flex;
    align-items: center;
  }

  :nth-child(2) {
    background: var(--orange-1);
    box-shadow: var(--shadow-3);
  }

  :nth-child(3) {
    background: var(--orange-2);
    box-shadow: var(--shadow-3);
  }

  :nth-child(4) {
    background: var(--orange-3);
    box-shadow: var(--shadow-3);
  }

  :nth-child(5) {
    background: var(--orange-4);
    box-shadow: var(--shadow-3);
  }

  :nth-child(6) {
    background: var(--orange-5);
    box-shadow: var(--shadow-3);
  }

  :nth-child(7) {
    background: var(--orange-6);
    box-shadow: var(--shadow-3);
  }

  :nth-child(8) {
    background: var(--orange-7);
    box-shadow: var(--shadow-3);
  }

  :nth-child(9) {
    background: var(--orange-8);
    box-shadow: var(--shadow-3);
  }

  :nth-child(10) {
    background: var(--orange-9);
    box-shadow: var(--shadow-3);
  }

  :nth-child(11) {
    background: var(--orange-10);
    box-shadow: var(--shadow-3);
  }

  :nth-child(12) {
    background: var(--orange-11);
    box-shadow: var(--shadow-3);
  }

  :nth-child(13) {
    background: var(--orange-12);
    box-shadow: var(--shadow-3);
  }
}
