.ui-scale-pink {
  :nth-child(1) {
    display: flex;
    align-items: center;
  }

  :nth-child(2) {
    background: var(--pink-1);
    box-shadow: var(--shadow-3);
  }

  :nth-child(3) {
    background: var(--pink-2);
    box-shadow: var(--shadow-3);
  }

  :nth-child(4) {
    background: var(--pink-3);
    box-shadow: var(--shadow-3);
  }

  :nth-child(5) {
    background: var(--pink-4);
    box-shadow: var(--shadow-3);
  }

  :nth-child(6) {
    background: var(--pink-5);
    box-shadow: var(--shadow-3);
  }

  :nth-child(7) {
    background: var(--pink-6);
    box-shadow: var(--shadow-3);
  }

  :nth-child(8) {
    background: var(--pink-7);
    box-shadow: var(--shadow-3);
  }

  :nth-child(9) {
    background: var(--pink-8);
    box-shadow: var(--shadow-3);
  }

  :nth-child(10) {
    background: var(--pink-9);
    box-shadow: var(--shadow-3);
  }

  :nth-child(11) {
    background: var(--pink-10);
    box-shadow: var(--shadow-3);
  }

  :nth-child(12) {
    background: var(--pink-11);
    box-shadow: var(--shadow-3);
  }

  :nth-child(13) {
    background: var(--pink-12);
    box-shadow: var(--shadow-3);
  }
}
