.ui-scale-purple {
  :nth-child(1) {
    display: flex;
    align-items: center;
  }

  :nth-child(2) {
    background: var(--purple-1);
    box-shadow: var(--shadow-3);
  }

  :nth-child(3) {
    background: var(--purple-2);
    box-shadow: var(--shadow-3);
  }

  :nth-child(4) {
    background: var(--purple-3);
    box-shadow: var(--shadow-3);
  }

  :nth-child(5) {
    background: var(--purple-4);
    box-shadow: var(--shadow-3);
  }

  :nth-child(6) {
    background: var(--purple-5);
    box-shadow: var(--shadow-3);
  }

  :nth-child(7) {
    background: var(--purple-6);
    box-shadow: var(--shadow-3);
  }

  :nth-child(8) {
    background: var(--purple-7);
    box-shadow: var(--shadow-3);
  }

  :nth-child(9) {
    background: var(--purple-8);
    box-shadow: var(--shadow-3);
  }

  :nth-child(10) {
    background: var(--purple-9);
    box-shadow: var(--shadow-3);
  }

  :nth-child(11) {
    background: var(--purple-10);
    box-shadow: var(--shadow-3);
  }

  :nth-child(12) {
    background: var(--purple-11);
    box-shadow: var(--shadow-3);
  }

  :nth-child(13) {
    background: var(--purple-12);
    box-shadow: var(--shadow-3);
  }
}
