.ui-scale-teal {
  :nth-child(1) {
    display: flex;
    align-items: center;
  }

  :nth-child(2) {
    background: var(--teal-1);
    box-shadow: var(--shadow-3);
  }

  :nth-child(3) {
    background: var(--teal-2);
    box-shadow: var(--shadow-3);
  }

  :nth-child(4) {
    background: var(--teal-3);
    box-shadow: var(--shadow-3);
  }

  :nth-child(5) {
    background: var(--teal-4);
    box-shadow: var(--shadow-3);
  }

  :nth-child(6) {
    background: var(--teal-5);
    box-shadow: var(--shadow-3);
  }

  :nth-child(7) {
    background: var(--teal-6);
    box-shadow: var(--shadow-3);
  }

  :nth-child(8) {
    background: var(--teal-7);
    box-shadow: var(--shadow-3);
  }

  :nth-child(9) {
    background: var(--teal-8);
    box-shadow: var(--shadow-3);
  }

  :nth-child(10) {
    background: var(--teal-9);
    box-shadow: var(--shadow-3);
  }

  :nth-child(11) {
    background: var(--teal-10);
    box-shadow: var(--shadow-3);
  }

  :nth-child(12) {
    background: var(--teal-11);
    box-shadow: var(--shadow-3);
  }

  :nth-child(13) {
    background: var(--teal-12);
    box-shadow: var(--shadow-3);
  }
}
