.ui-scale-tomato {
  :nth-child(1) {
    display: flex;
    align-items: center;
  }

  :nth-child(2) {
    background: var(--tomato-1);
    box-shadow: var(--shadow-3);
  }

  :nth-child(3) {
    background: var(--tomato-2);
    box-shadow: var(--shadow-3);
  }

  :nth-child(4) {
    background: var(--tomato-3);
    box-shadow: var(--shadow-3);
  }

  :nth-child(5) {
    background: var(--tomato-4);
    box-shadow: var(--shadow-3);
  }

  :nth-child(6) {
    background: var(--tomato-5);
    box-shadow: var(--shadow-3);
  }

  :nth-child(7) {
    background: var(--tomato-6);
    box-shadow: var(--shadow-3);
  }

  :nth-child(8) {
    background: var(--tomato-7);
    box-shadow: var(--shadow-3);
  }

  :nth-child(9) {
    background: var(--tomato-8);
    box-shadow: var(--shadow-3);
  }

  :nth-child(10) {
    background: var(--tomato-9);
    box-shadow: var(--shadow-3);
  }

  :nth-child(11) {
    background: var(--tomato-10);
    box-shadow: var(--shadow-3);
  }

  :nth-child(12) {
    background: var(--tomato-11);
    box-shadow: var(--shadow-3);
  }

  :nth-child(13) {
    background: var(--tomato-12);
    box-shadow: var(--shadow-3);
  }
}
