.ui-scale-violet {
  :nth-child(1) {
    display: flex;
    align-items: center;
  }

  :nth-child(2) {
    background: var(--violet-1);
    box-shadow: var(--shadow-3);
  }

  :nth-child(3) {
    background: var(--violet-2);
    box-shadow: var(--shadow-3);
  }

  :nth-child(4) {
    background: var(--violet-3);
    box-shadow: var(--shadow-3);
  }

  :nth-child(5) {
    background: var(--violet-4);
    box-shadow: var(--shadow-3);
  }

  :nth-child(6) {
    background: var(--violet-5);
    box-shadow: var(--shadow-3);
  }

  :nth-child(7) {
    background: var(--violet-6);
    box-shadow: var(--shadow-3);
  }

  :nth-child(8) {
    background: var(--violet-7);
    box-shadow: var(--shadow-3);
  }

  :nth-child(9) {
    background: var(--violet-8);
    box-shadow: var(--shadow-3);
  }

  :nth-child(10) {
    background: var(--violet-9);
    box-shadow: var(--shadow-3);
  }

  :nth-child(11) {
    background: var(--violet-10);
    box-shadow: var(--shadow-3);
  }

  :nth-child(12) {
    background: var(--violet-11);
    box-shadow: var(--shadow-3);
  }

  :nth-child(13) {
    background: var(--violet-12);
    box-shadow: var(--shadow-3);
  }
}
